* {
  box-sizing:border-box;
}

*[onClick] {
  cursor:pointer;
}

body {
  font-family:'Arial', sans-serif;
  background-color:white;
  margin:0;
}

a {
  color:inherit;
  text-decoration:none;
}

a img {
  outline:none;
}

img {
  display:block;
  line-height:0;
}

hr {
  height:1px;
  border:none;
  background-color:gray;
}

textarea {
  resize:none;
}

#item0 {
  background-color:white;
  background-image:url("images/fiber_background.jpg");
  height:auto;
  min-height:100vh;
  width:100%;
  position:relative;
  padding:10px;
}

#item1 {
  background-color:white;
  height:auto;
  min-height:100px;
  width:100%;
  display:block;
  position:relative;
  margin-right:auto;
  margin-left:auto;
}

#item2 {
  background-color:white;
  height:auto;
  min-height:399px;
  width:100%;
  position:relative;
}

#item13 {
  background-color:white;
  height:auto;
  min-height:139px;
  width:100%;
  display:block;
  position:relative;
  padding:10px;
  margin-right:auto;
  margin-left:auto;
}

#item14 {
  background-color:inherit;
  height:auto;
  width:100%;
  font-family:Raleway;
  color:black;
  font-size:28px;
  line-height:1;
  text-align:left;
}

#item19, #item28, #item33, #item15 {
  background-color:rgb(208, 203, 191);
  height:auto;
  min-height:2px;
  width:100%;
  position:relative;
  margin-top:10px;
  margin-bottom:10px;
}

#item23, #item30, #item16 {
  background-color:white;
  height:auto;
  min-height:100px;
  width:100%;
  position:relative;
  padding:10px;
}

#item26, #item31, #item17 {
  background-color:white;
  height:auto;
  min-height:100px;
  width:100%;
  position:relative;
  float:left;
  padding:10px;
  margin-top:15px;
  margin-bottom:15px;
}

#item27, #item32, #item18 {
  background-color:inherit;
  height:auto;
  width:100%;
  font-family:Raleway;
  color:black;
  font-size:18px;
  line-height:1;
}

#item20 {
  background-color:inherit;
  height:auto;
  min-height:50px;
  width:100%;
  font-family:Raleway;
  color:black;
  font-size:14px;
  line-height:1.5;
}

#item24, #item35, #item21 {
  background-color:white;
  height:auto;
  min-height:100px;
  width:100%;
  position:relative;
  float:left;
  padding:10px;
}

#item25, #item22 {
  height:auto;
  min-height:auto;
  width:230px;
  max-width:100%;
  display:block;
  margin-right:auto;
  margin-left:auto;
}

#item34, #item29 {
  background-color:inherit;
  height:auto;
  width:100%;
  font-family:Raleway;
  color:black;
  font-size:14px;
  line-height:1.5;
}

#item36 {
  height:200px;
  min-height:200px;
  width:300px;
  max-width:100%;
  display:block;
  margin-right:auto;
  margin-left:auto;
}

#header0 {
  height:auto;
  min-height:auto;
  width:100%;
  display:block;
  padding-right:20px;
  padding-left:20px;
  margin-right:auto;
  margin-left:auto;
}

#header1 {
  background-color:rgb(152, 213, 218);
  height:auto;
  min-height:5px;
  width:100%;
  display:block;
  position:relative;
  margin:15px auto;
}

#header2 {
  background-color:white;
  height:auto;
  min-height:25px;
  width:100%;
  display:block;
  position:relative;
  padding:10px;
  margin-right:auto;
  margin-bottom:15px;
  margin-left:auto;
  text-align:center;
}

#header3 {
  background-color:inherit;
  height:auto;
  width:auto;
  display:inline-block;
  padding-top:5px;
  padding-bottom:5px;
  margin-right:15px;
  margin-left:15px;
  font-family:Raleway;
  color:black;
  font-size:16px;
}

#header4 {
  background-color:inherit;
  height:auto;
  width:auto;
  display:inline-block;
  padding-top:5px;
  padding-bottom:5px;
  margin-right:15px;
  margin-left:15px;
  font-family:Raleway;
  color:black;
  font-size:16px;
}

#header5 {
  background-color:inherit;
  height:auto;
  width:auto;
  display:inline-block;
  padding-top:5px;
  padding-bottom:5px;
  margin-right:15px;
  margin-left:15px;
  font-family:Raleway;
  color:black;
  font-size:16px;
}

#header6 {
  background-color:inherit;
  height:auto;
  width:auto;
  display:inline-block;
  padding-top:5px;
  padding-bottom:5px;
  margin-right:15px;
  margin-left:15px;
  font-family:Raleway;
  color:black;
  font-size:16px;
}

#header7 {
  background-color:inherit;
  height:auto;
  width:auto;
  display:inline-block;
  padding-top:5px;
  padding-bottom:5px;
  margin-right:15px;
  margin-left:15px;
  font-family:Raleway;
  color:black;
  font-size:16px;
}

#header8 {
  background-color:inherit;
  height:auto;
  width:auto;
  display:inline-block;
  padding-top:5px;
  padding-bottom:5px;
  margin-right:15px;
  margin-left:15px;
  font-family:Raleway;
  color:black;
  font-size:16px;
}

#header {
  background-color:white;
  height:auto;
  min-height:50px;
  width:100%;
  position:relative;
  padding-top:15px;
  margin-top:15px;
}

#footer_separator {
  background-color:rgb(208, 203, 191);
  height:auto;
  min-height:50px;
  width:100%;
  position:relative;
  padding:10px;
}

#footer0 {
  background-color:inherit;
  height:auto;
  width:100%;
  font-family:Arial;
  color:black;
  font-size:14px;
  line-height:1;
  cursor:text;
}

#footer {
  background-color:white;
  height:auto;
  min-height:27px;
  width:100%;
  position:relative;
  padding:15px;
}



@media (min-width: 768px) {
  #item13, #item17, #item21, #item24, #item26, #item31, #item35, #item1 {
    width:100%;
  }
  #header0 {
    width:333px;
  }
  #header1 {
    width:100%;
  }
  #header2 {
    width:97.47%;
  }
}

@media (min-width: 992px) {
  #item1 {
    width:97.5%;
  }
  #item13 {
    width:70%;
  }
  #item21, #item24, #item26, #item31, #item35, #item17 {
    width:50%;
  }
  #item25, #item22 {
    width:230px;
  }
  #item36 {
    width:300px;
  }
  #header1 {
    width:100%;
  }
  #header2 {
    width:967px;
  }
}

@media (min-width: 1200px) {
  #item1 {
    width:1170px;
  }
  #header1 {
    width:80%;
  }
}

