* {
  box-sizing:border-box;
}

*[onClick] {
  cursor:pointer;
}

body {
  font-family:'Arial', sans-serif;
  background-color:white;
  margin:0;
}

a {
  color:inherit;
  text-decoration:none;
}

a img {
  outline:none;
}

img {
  display:block;
  line-height:0;
}

hr {
  height:1px;
  border:none;
  background-color:gray;
}

textarea {
  resize:none;
}

#item17 {
  background-color:rgb(59, 115, 185);
  height:auto;
  min-height:auto;
  width:100%;
  display:block;
  position:relative;
  padding-top:5px;
  padding-bottom:5px;
}

#item18 {
  background-color:inherit;
  height:auto;
  min-height:auto;
  width:100%;
  display:block;
  position:relative;
  padding-top:5px;
  padding-bottom:5px;
  margin-right:auto;
  margin-left:auto;
}

.carousel-slide {
  height:auto;
  min-height:auto;
  width:100%;
  max-width:100%;
  display:block;
  margin-right:auto;
  margin-left:auto;
}

#item22 {
  background-color:white;
  height:auto;
  min-height:auto;
  width:100%;
  display:block;
  position:relative;
  padding:15px;
  margin-right:auto;
  margin-left:auto;
}

#item23 {
  background-color:inherit;
  height:auto;
  min-height:3px;
}

.h1 {
  background-color:inherit;
  height:auto;
  width:100%;
  padding:5px 5px 10px;
  margin-top:10px;
  margin-bottom:15px;
  border-bottom:1px solid gray;
  font-family:"Open Sans";
  color:rgb(51, 51, 51);
  font-size:28px;
  line-height:1;
}

#item33, #item25 {
  background-color:white;
  height:auto;
  min-height:100px;
  width:100%;
  position:relative;
  float:left;
  padding:10px 10px 20px;
}

.plan-box {
  background-color:white;
  height:auto;
  min-height:100px;
  width:100%;
  position:relative;
  padding:25px;
}

#item35, #item43, #item27 {
  height:auto;
  min-height:auto;
  width:100%;
  max-width:100%;
  display:inline-block;
}

.plan-title {
  background-color:inherit;
  height:auto;
  width:100%;
  margin-top:15px;
  margin-bottom:15px;
  font-family:"Open Sans";
  color:rgb(64, 64, 64);
  font-size:26px;
  line-height:1;
  text-align:center;
}

.plan-desc {
  background-color:inherit;
  height:auto;
  width:100%;
  display:block;
  margin-right:auto;
  margin-left:auto;
  font-family:"Open Sans";
  color:black;
  font-size:15px;
  line-height:1.5;
}

.plan-range {
  background-color:inherit;
  height:auto;
  width:100%;
  margin-top:15px;
  font-family:"Open Sans";
  color:rgb(51, 51, 51);
  font-size:28px;
  line-height:1.5;
  text-align:center;
}

#item39, #item47, #item31 {
  background-color:inherit;
  height:auto;
  width:100%;
  margin-bottom:15px;
  font-family:"Open Sans";
  color:rgb(51, 51, 51);
  font-size:16px;
  line-height:1.5;
  text-align:center;
}

.sign-up-now {
  background-color:white;
  height:auto;
  width:100%;
  display:inline-block;
  padding:15px 20px;
  border:1px solid rgb(59, 115, 185);
  font-family:"Open Sans";
  color:rgb(51, 51, 51);
  font-size:20px;
  line-height:1;
  text-align:center;
}

.sign-up-now:hover {
  background-color:#efefef;
  color:black;
}

#item41 {
  background-color:white;
  height:auto;
  min-height:100px;
  width:100%;
  display:block;
  position:relative;
  float:left;
  padding:10px 10px 20px;
  margin-right:auto;
  margin-left:auto;
}

#top-bar0 {
  background-color:inherit;
  height:auto;
  width:100%;
  display:block;
  padding-right:10px;
  padding-left:10px;
  margin-right:auto;
  margin-left:auto;
  font-family:"Open Sans";
  color:white;
  font-size:14px;
  line-height:1;
}

#top-bar {
  background-color:rgb(66, 90, 108);
  height:auto;
  min-height:32px;
  width:100%;
  position:relative;
  padding:10px;
}

#header0 {
  background-color:white;
  height:auto;
  min-height:auto;
  width:100%;
  display:block;
  position:relative;
  padding:10px;
  margin-right:auto;
  margin-left:auto;
}

#header1 {
  height:auto;
  min-height:auto;
  width:auto;
  max-width:100%;
  display:inline-block;
  float:left;
  margin-top:10px;
  margin-bottom:10px;
}

#desktop-nav {
  background-color:white;
  height:auto;
  min-height:100px;
  width:100%;
  position:relative;
  float:right;
  padding:10px;
  margin-top:10px;
  margin-bottom:10px;
  text-align:center;
}

.nav-btn {
  background-color:inherit;
  height:auto;
  width:auto;
  display:inline-block;
  padding:30px 15px;
  font-family:"Open Sans";
  color:black;
  font-size:16px;
  line-height:1;
}

.nav-btn:hover {
  background-color:#f1f1f1;
}

#header4 {
  background-color:inherit;
  height:auto;
  width:auto;
  display:inline-block;
  padding:30px 15px;
  font-family:"Open Sans";
  color:black;
  font-size:16px;
  line-height:1;
}

#header4:hover {
  background-color:#f1f1f1;
}

#header5 {
  background-color:inherit;
  height:auto;
  width:auto;
  display:inline-block;
  padding:30px 15px;
  font-family:"Open Sans";
  color:black;
  font-size:16px;
  line-height:1;
}

#header5:hover {
  background-color:#f1f1f1;
}

#header6 {
  background-color:inherit;
  height:auto;
  width:auto;
  display:inline-block;
  padding:30px 15px;
  font-family:"Open Sans";
  color:black;
  font-size:16px;
  line-height:1;
}

#header6:hover {
  background-color:#f1f1f1;
}

#menu-btn {
  background-color:white;
  height:auto;
  min-height:auto;
  width:70px;
  display:block;
  position:relative;
  padding:10px;
  margin:-15px auto 10px;
}

#header8 {
  height:3px;
  min-height:30px;
  width:30px;
  max-width:100%;
  display:block;
  margin-right:auto;
  margin-left:auto;
}

#mobile-nav {
  background-color:white;
  height:auto;
  min-height:auto;
  width:100%;
  position:relative;
  float:right;
  padding-right:20px;
  padding-left:20px;
  margin-bottom:10px;
  text-align:center;
}

#header10 {
  background-color:inherit;
  height:auto;
  width:100%;
  display:block;
  padding:15px;
  border-bottom:1px solid gray;
  font-family:"Open Sans";
  color:black;
  font-size:16px;
  line-height:1;
  text-align:left;
}

#header10:hover {
  background-color:#f1f1f1;
}

#header11 {
  background-color:inherit;
  height:auto;
  width:auto;
  display:block;
  padding:15px;
  border-bottom:1px solid gray;
  font-family:"Open Sans";
  color:black;
  font-size:16px;
  line-height:1;
  text-align:left;
}

#header11:hover {
  background-color:#f1f1f1;
}

#header12 {
  background-color:inherit;
  height:auto;
  width:auto;
  display:block;
  padding:15px;
  border-bottom:1px solid gray;
  font-family:"Open Sans";
  color:black;
  font-size:16px;
  line-height:1;
  text-align:left;
}

#header12:hover {
  background-color:#f1f1f1;
}

#header13 {
  background-color:inherit;
  height:auto;
  width:auto;
  display:block;
  padding:15px;
  font-family:"Open Sans";
  color:black;
  font-size:16px;
  line-height:1;
  text-align:left;
}

#header13:hover {
  background-color:#f1f1f1;
}

#header {
  background-color:white;
  height:auto;
  min-height:auto;
  width:100%;
  position:relative;
  padding:10px;
}

#questions-bar0 {
  background-color:inherit;
  height:auto;
  width:100%;
  display:block;
  margin-right:auto;
  margin-left:auto;
  font-family:"Open Sans";
  color:white;
  font-size:20px;
  line-height:1.5;
  text-align:center;
}

#questions-bar {
  background-color:rgb(66, 90, 108);
  height:auto;
  min-height:32px;
  width:100%;
  position:relative;
  padding:20px;
}

#footer0 {
  background-color:rgb(0, 84, 164);
  height:auto;
  min-height:auto;
  width:100%;
  display:block;
  position:relative;
  padding:5px;
  margin-right:auto;
  margin-left:auto;
}

#footer1 {
  background-color:inherit;
  height:auto;
  width:100%;
  display:inline-block;
  padding:5px;
  margin-right:auto;
  margin-left:auto;
  font-family:"Open Sans";
  color:white;
  font-size:14px;
  line-height:1.5;
  text-align:center;
}

#footer {
  background-color:rgb(0, 84, 164);
  height:auto;
  min-height:auto;
  width:100%;
  position:relative;
  padding:5px;
}

    #mobile-nav {
        display: none;
    }
    #desktop-nav {
        display: none;
    }
    @media (min-width: 768px) {
        #menu-btn {
            display: none;
        }
        #mobile-nav {
            display: none;
        }
        #desktop-nav {
            display: block;
        }
    }
    @keyframes open-nav {
        from {
            /*height: 0;
            min-height: 0;*/
            max-height:0;
        }
        to {
            /*height: auto;
            min-height: auto;*/
            max-height:50vh;
        }
    }
    @keyframes close-nav {
        from {
            /*height: auto;
            min-height: auto;*/
            max-height:50vh;
        }
        to {
            /*height: 0;
            min-height: 0;*/
            max-height:0;
        }
    }
    .open-mobile-nav {
        animation-name: open-nav;
        animation-duration: 400ms;
        -webkit-animation-fill-mode: forwards;
        animation-timing-function: ease-out;
    }
    .close-mobile-nav {
        animation-name: close-nav;
        animation-duration: 400ms;
        -webkit-animation-fill-mode: forwards;
        animation-timing-function: ease-out;
    }

@keyframes fade-out {
    from {
      opacity:1;
    }
    to {
      opacity:0;
    }
}
.carousel-fade-out {
    animation-name: fade-out;
    animation-duration: 1s;
    -webkit-animation-fill-mode: forwards;
}
@keyframes fade-in {
    from {
      opacity:0;
    }
    to {
      opacity:1;
    }
}
.carousel-fade-in {
    animation-name: fade-in;
    animation-duration: 1s;
    -webkit-animation-fill-mode: forwards;
    animation-timing-function: ease-out;
}

@media (min-width: 768px) {
  #item22, #item41, #item18 {
    width:100%;
  }
  .carousel-slide {
    width:100%;
  }
  #item33, #item25 {
    width:50%;
  }
  .plan-desc {
    width:100%;
  }
  #top-bar0 {
    width:100%;
  }
  #header0 {
    width:100%;
  }
  #desktop-nav {
    width:100%;
  }
  #mobile-nav {
    width:100%;
  }
  #questions-bar0 {
    width:100%;
  }
  #footer0 {
    width:100%;
  }
}

@media (min-width: 992px) {
  #item22, #item18 {
    width:100%;
  }
  .carousel-slide {
    width:100%;
  }
  #item33, #item41, #item25 {
    width:33.33%;
  }
  .plan-desc {
    width:80%;
  }
  #top-bar0 {
    width:100%;
  }
  #header0 {
    width:100%;
  }
  #desktop-nav {
    width:50%;
  }
  #menu-btn {
    width:70px;
  }
  #header8 {
    width:30px;
  }
  #mobile-nav {
    width:50%;
  }
  #questions-bar0 {
    width:100%;
  }
  #footer0 {
    width:100%;
  }
}

@media (min-width: 1200px) {
  #item22, #item18 {
    width:1200px;
  }
  .carousel-slide {
    width:1200px;
  }
  #top-bar0 {
    width:1200px;
  }
  #header0 {
    width:1200px;
  }
  #questions-bar0 {
    width:1200px;
  }
  #footer0 {
    width:1200px;
  }
}

