* {
  box-sizing:border-box;
}

*[onClick] {
  cursor:pointer;
}

body {
  font-family:Arial, Helvetica, sans-serif;
  background-color:white;
  margin:0;
}

a {
  color:inherit;
  text-decoration:none;
}

a img {
  outline:none;
}

img {
  display:block;
  line-height:0;
}

hr {
  height:1px;
  border:none;
  background-color:gray;
}

textarea {
  resize:none;
}

#item0 {
  background-color:white;
  height:auto;
  min-height:auto;
  width:100%;
  position:relative;
  padding:30px 10px 10px;
  margin-right:auto;
  margin-left:auto;
  align-items:center;
}

#item1 {
  height:auto;
  min-height:auto;
  width:180px;
  max-width:100%;
  display:inline-block;
  float:left;
}

#item2 {
  background-color:rgb(71, 77, 227);
  height:auto;
  width:auto;
  display:inline-block;
  position:absolute;
  float:right;
  padding:10px 30px;
  margin-top:10px;
  right:10px;
  bottom:15px;
  border-radius:2px;
  font-family:Lato;
  font-size:16px;
  color:white;
  line-height:1;
  text-align:center;
  transition:background-color 80ms ease 0s;
}

#item2:hover {
  background-color:#a0c3f0;
}

#item9, #item15, #item22, #item3 {
  background-color:white;
  height:auto;
  min-height:auto;
  width:100%;
  display:flex;
  position:relative;
  padding:60px 15px;
  justify-content:center;
  align-items:center;
}

#item4 {
  background-color:rgb(191, 215, 234);
  background-image:linear-gradient(to right bottom, rgb(185, 211, 232), rgb(233, 240, 251));
  height:auto;
  min-height:80vh;
  width:100%;
  display:flex;
  position:relative;
  padding:40px;
  border-radius:2px;
  flex-flow:row wrap;
  justify-content:center;
  align-items:center;
}

#item11, #item17, #item5 {
  height:auto;
  min-height:auto;
  width:100%;
  position:relative;
  padding:15px;
}

#item12, #item18, #item24, #item6 {
  background-color:inherit;
  height:auto;
  width:100%;
  font-family:Lato;
  font-weight:bold;
  font-size:52px;
  color:rgb(36, 45, 56);
  line-height:1;
}

#item13, #item19, #item7 {
  background-color:inherit;
  height:auto;
  width:100%;
  margin-top:25px;
  margin-bottom:25px;
  font-family:Lato;
  font-size:18px;
  color:rgb(50, 63, 79);
  line-height:1.5;
}

#item8 {
  height:auto;
  min-height:1px;
  width:100%;
}

#item10 {
  background-color:rgb(191, 215, 234);
  background-image:linear-gradient(to right bottom, rgb(240, 205, 160), rgb(255, 241, 225));
  height:auto;
  min-height:80vh;
  width:100%;
  display:flex;
  position:relative;
  padding:40px;
  border-radius:2px;
  flex-flow:row wrap;
  justify-content:center;
  align-items:center;
}

#item14 {
  height:auto;
  min-height:auto;
  width:100%;
  max-width:100%;
  display:inline-block;
}

#item16 {
  background-color:rgb(191, 215, 234);
  background-image:linear-gradient(to right bottom, rgb(170, 240, 191), rgb(224, 249, 231));
  height:auto;
  min-height:80vh;
  width:100%;
  display:flex;
  position:relative;
  padding:40px;
  border-radius:2px;
  flex-flow:row wrap;
  justify-content:center;
  align-items:center;
}

#item20 {
  background-color:rgb(29, 31, 33);
  height:auto;
  min-height:100px;
  width:100%;
  position:relative;
  padding:25px;
  border-radius:2px;
  text-align:center;
}

#item21 {
  height:362px;
  min-height:362px;
  width:100%;
  max-width:100%;
  display:inline-block;
  border-right:5px solid rgb(41, 44, 47);
}

#item23 {
  height:auto;
  min-height:auto;
  width:100%;
  display:flex;
  position:relative;
  padding-top:40px;
  padding-bottom:40px;
  border-radius:2px;
  flex-flow:column nowrap;
  justify-content:center;
}

#item25 {
  height:auto;
  min-height:100px;
  width:100%;
  position:relative;
  padding:10px;
  margin-top:25px;
}

.website-card {
  background-color:rgb(255, 255, 255);
  height:auto;
  min-height:300px;
  width:100%;
  display:flex;
  position:relative;
  float:left;
  padding:30px;
  border:1px solid white;
  border-radius:2px;
  text-align:center;
  transition:border 80ms ease 0s;
  justify-content:center;
  align-items:center;
}

.website-card:hover {
  border:1px solid #80afec;
}

#item27 {
  height:auto;
  min-height:auto;
  width:271px;
  max-width:100%;
  display:inline-block;
}

#item29 {
  height:auto;
  min-height:auto;
  width:130px;
  max-width:100%;
  display:inline-block;
}

#item31 {
  height:auto;
  min-height:auto;
  width:233px;
  max-width:100%;
  display:inline-block;
}

#item32 {
  background-image:linear-gradient(to right bottom, rgb(33, 112, 214), rgb(71, 139, 227));
  height:auto;
  min-height:auto;
  width:100%;
  position:relative;
  padding:10px;
}

#item33 {
  height:auto;
  min-height:auto;
  width:100%;
  padding:15px;
  font-family:Lato;
  font-size:14px;
  color:white;
  line-height:1;
  text-align:center;
}

.banner-text {
    font-size:36px;
}

@media(min-width:768px) {
    .banner-text {
        font-size:46px;
    }
}

#fast-info,
#fun-info,
#customizable-info{
    display:none;
}

@keyframes shadow-in {
    from {box-shadow: 0px 0px 0px #eeeeee;margin-top:0;}
    to {box-shadow:0px 10px 0px gray;margin-top:-3px;}
}

@keyframes shadow-out {
    from {box-shadow: 0px 10px 0px gray;margin-top:-3px;}
    to {box-shadow:0px 0px 0px #eeeeee;margin-top:0;}
}

.shadowIn {
    animation-name: shadow-in;
    animation-duration: 200ms;
    animation-timing-function: ease-out;
    -webkit-animation-fill-mode: forwards;
}

.shadowOut {
    animation-name: shadow-out;
    animation-duration: 200ms;
    animation-timing-function: ease-out;
    -webkit-animation-fill-mode: forwards;
}




@media (min-width: 768px) {
  #item4, #item8, #item10, #item11, #item14, #item16, #item17, #item20, #item23, #item0 {
    width:100%;
  }
  #item5 {
    width:58.12%;
  }
  #item21 {
    width:447px;
  }
  .website-card {
    width:50%;
  }
}

@media (min-width: 992px) {
  #item4, #item10, #item16, #item23, #item0 {
    width:100%;
  }
  #item1 {
    width:180px;
  }
  #item5 {
    width:45%;
  }
  #item8 {
    width:55%;
  }
  #item14, #item17, #item20, #item11 {
    width:50%;
  }
  .website-card {
    width:33.33%;
  }
  #item27 {
    width:271px;
  }
  #item29 {
    width:130px;
  }
  #item31 {
    width:233px;
  }
}

@media (min-width: 1200px) {
  #item4, #item10, #item16, #item23, #item0 {
    width:1200px;
  }
}

