/*
(C) Copyright 2020 Raine Conor. All rights reserved.
*/

html,
body {
  height: 100%;
}

body {
  display: flex;
  align-items: center;
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: #f5f5f5;
}

.form-register {
  width: 100%;
  max-width: 330px;
  padding: 15px;
  margin: auto;
}
.form-register .checkbox {
  font-weight: 400;
}
.form-register .form-control {
  position: relative;
  box-sizing: border-box;
  height: auto;
  padding: 10px;
  font-size: 16px;
}
.form-register .form-control:focus {
  z-index: 2;
}
.form-register #inputUsername {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.form-register #inputPassword {
  border-radius:0;
  margin-bottom:-1px;
}
.form-register #inputPasswordConfirm {
  border-top-right-radius: 0;
  border-top-left-radius: 0;
}

.form-register #inputName {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.form-register #inputEmail {
  border-top-right-radius: 0;
  border-top-left-radius: 0;
}

#footer {

}

.error {
  color:red;
}
