* {
  box-sizing:border-box;
}

body {
  font-family:'Arial', sans-serif;
  background-color:rgb(255, 255, 255);
  margin:0;
}

a {
  color:inherit;
  text-decoration:none;
}

a img {
  outline:none;
}

hr {
  height:1px;
  border:none;
  background-color:gray;
}

textarea {
  resize:none;
}

*[onClick] {
  cursor:pointer;
}

.container {
  width:100%;
  margin:0 auto;
}

#item10 {
  background-color:white;
  height:auto;
  min-height:100px;
  width:100%;
  position:relative;
  padding:10px;
}

#item11 {
  background-color:inherit;
  height:auto;
  min-height:auto;
}

#item12 {
  background-color:inherit;
  height:auto;
  width:100%;
  margin-bottom:10px;
  font-family:Arial;
  color:black;
  font-size:24px;
  line-height:1;
  text-align:center;
}

#item13 {
  background-color:inherit;
  height:auto;
  min-height:100px;
  width:100%;
  position:relative;
  padding:10px;
}

#item17, #item14 {
  background-color:white;
  height:auto;
  min-height:auto;
  width:100%;
  position:relative;
  float:left;
  padding:5px;
}

#item18, #item21, #item15 {
  background-color:inherit;
  height:auto;
  width:100%;
  font-family:Roboto;
  color:black;
  font-size:14px;
  line-height:1;
}

#item19, #item16 {
  background-color:white;
  height:24px;
  min-height:24px;
  width:100%;
  position:relative;
  padding:2px;
  margin-top:3px;
  margin-bottom:8px;
  border:1px solid gray;
  font-family:inherit;
  font-size:inherit;
  line-height:inherit;
}

#item20 {
  background-color:white;
  height:auto;
  min-height:auto;
  width:100%;
  position:relative;
  padding:5px;
}

#item22 {
  background-color:white;
  height:auto;
  min-height:240px;
  width:100%;
  position:relative;
  padding:2px;
  margin-top:3px;
  margin-bottom:8px;
  border:1px solid gray;
  font-family:inherit;
  font-size:inherit;
  line-height:inherit;
}

#item23 {
  display:block;
  margin:0px auto;
}

#header0 {
  background-color:white;
  height:180px;
  min-height:180px;
  width:100%;
  display:table;
  position:relative;
  float:left;
  padding:10px;
  border-bottom:1px solid rgb(192, 192, 192);
}

#header1 {
  background-color:inherit;
  height:auto;
  min-height:auto;
  width:100%;
  display:table-cell;
  vertical-align:middle;
}

#header2 {
  background-color:inherit;
  height:auto;
  width:100%;
  float:left;
  font-family:Roboto;
  color:rgb(51, 51, 51);
  font-size:60px;
  line-height:1;
}

#header3 {
  background-color:white;
  height:180px;
  min-height:180px;
  width:100%;
  display:table;
  position:relative;
  float:left;
  padding:10px;
  border-bottom:1px solid rgb(192, 192, 192);
}

#header4 {
  background-color:inherit;
  height:auto;
  min-height:auto;
  width:100%;
  display:table-cell;
  vertical-align:middle;
}

#header5 {
  background-color:inherit;
  height:auto;
  width:100%;
  float:left;
  font-family:Roboto;
  color:rgb(51, 51, 51);
  font-size:30px;
  line-height:1.5;
  text-align:center;
}

#header6 {
  background-color:white;
  height:180px;
  min-height:180px;
  width:100%;
  display:table;
  position:relative;
  float:left;
  padding:10px;
  border-bottom:1px solid rgb(192, 192, 192);
}

#header7 {
  background-color:inherit;
  height:auto;
  min-height:auto;
  width:100%;
  display:table-cell;
  vertical-align:middle;
}

#header8 {
  background-color:inherit;
  height:auto;
  width:100%;
  float:left;
  font-family:Roboto;
  color:rgb(51, 51, 51);
  font-size:20px;
  line-height:1.5;
  text-align:right;
}

#header {
  background-color:white;
  height:auto;
  min-height:auto;
  width:100%;
  position:relative;
  padding:10px 10px 30px;
  margin-bottom:15px;
}

#footer0 {
  background-color:inherit;
  height:auto;
  width:100%;
  font-family:Roboto;
  color:black;
  font-size:14px;
  line-height:1;
}

#footer {
  background-color:white;
  height:auto;
  min-height:auto;
  width:100%;
  position:relative;
  padding:20px;
  margin-top:30px;
  border-top:1px solid rgb(192, 192, 192);
}

@media (min-width: 768px) {
  .container {
    width:750px;
  }
  #item17, #item14 {
    width:100%;
  }
  #header0 {
    width:100%;
  }
  #header3 {
    width:100%;
  }
  #header6 {
    width:100%;
  }
}

@media (min-width: 992px) {
  .container {
    width:970px;
  }
  #item17, #item14 {
    width:50%;
  }
  #header0 {
    width:33.33%;
  }
  #header3 {
    width:33.33%;
  }
  #header6 {
    width:33.33%;
  }
}

@media (min-width: 1200px) {
  .container {
    width:1170px;
  }
}

