/*
(C) Copyright 2020 Raine Conor. All rights reserved.
*/

/* TABLE OF CONTENTS:
** 1. Element Styles
** 2. ID Styles
** 3. Class Styles
*/

/*============================================
                Element Styles
============================================*/

* {
  box-sizing: border-box;
  outline:none;
}

body {
  /*font-family:'Roboto', 'Arial', sans-serif;*/
  font-family:'Lato', 'Arial', sans-serif;
  font-size:14px;
  margin:0;
}

header {
  background-color:#ffffff;
  padding:15px;
  text-align:left;
  height:60px;
  display:flex;
  align-items:center;
}

section {
  padding:15px;
}

section h2 {
  margin:0 0 10px 0;
  color:#222222;
}

hr {
  height:1px;
  border:none;
  background-color:lightgray;
  margin-bottom:15px;
  margin-top:15px;
}

/*============================================
                   ID Styles
============================================*/

#left-column {
  position:absolute;
  left:0;
  bottom:0;
  top:60px;
  width:220px;
  background-color:#131720;
  padding-top:20px;
}
#right-column {
  position:absolute;
  left:220px;
  bottom:0;
  top:60px;
  right:0;
  overflow:auto;
  /*padding:20px;*/
  background-color:#dfe5eb;
  border-top:1px solid lightgray;
}
#profile-greeting {
  color:#ffffff;
  font-size:24px;
  padding:10px 22px;
  font-weight:700;
  border-left:8px solid #2b2f37;
}
#profile-avatar {
  border-radius:50%;
  background-color:#2b2f37;
  width:40px;
  height:40px;
  display:inline-flex;
  align-items:center;
  justify-content:center;
  margin-right:10px;
}
#newTemplate {
  border:1px solid gray;
  font-size:20px;
  padding:15px;
  text-align:center;
  background-color:#ffffff;
}
#newTemplate:hover {
  border:1px dashed gray;
  background-color:#F4FFF9;
}
#version {
  text-align:center;
  color:gray;
  position:absolute;
  left:0;
  right:0;
  bottom:0;
  padding:15px;
}
#darkWrapper {
  background:rgba(0,0,0,0.7);
  display:table;
  position:fixed;
  top:0;
  right:0;
  bottom:0;
  left:0;
  width:100%;
  height:100%;
  text-align:center;
}
#darkWrapper .popUpMenu {
  background-color:white;
  width:auto;
  display:none;
  padding:15px 25px 15px 25px;
}
#darkWrapper input,
#darkWrapper select {
  width:200px;
}
#templateChoices {
  background-color:#eeeeee;
  width:70vw;
}
#dashboard-logo {
  width:auto;
  height:40px;
  padding-left:20px;
}

/*============================================
                 Class Styles
============================================*/

.left-col-btn {
  background-color:inherit;
  padding:10px 30px;
  color:white;
  display:block;
  text-decoration:none;
}
.left-col-btn:hover {
  background-color:#2b2f37;
}

.menuLink {
  color:#333333;
  display:block;
  /*border:1px solid gray;*/
  border-left:0px solid white;
  border-bottom:1px solid #dfdfdf;
  text-decoration:none;
  padding:15px;
  float:left;
  width:84%;
  cursor:pointer;
  user-select:none;
  transition:all 150ms;
}

.menuLink:nth-of-type(2n) {
  /*background-color:#f6f6f6;*/
}

.menuLink:hover {
  /*background-color:#95bcef;*/
  color:#161616;
  border-left:10px solid #2170D6;
  /*border:1px solid #333333;*/
}

.templateDate {
  float:right;
}

.menuLinkDelete {
  cursor:pointer;
  padding:15px;
  width:8%;
  text-align:center;
  float:right;
  border-bottom:1px solid lightgray;
  transition:all 80ms;
  background-color:inherit;
}

.menuLinkDelete:hover {
  color:white;
  background-color:#E1341E;
}

.menuLinkDetails,
.menuLinkPreview {
  cursor:pointer;
  padding:15px;
  width:8%;
  text-align:center;
  float:left;
  border-bottom:1px solid lightgray;
  text-decoration:none;
  color:inherit;
  background-color:inherit;
  transition:all 80ms;
}

.menuLinkDetails:hover,
.menuLinkPreview:hover {
  color:white;
  background-color:#358AEA;
}

.disabledPreview {
  cursor:pointer;
  padding:15px;
  width:8%;
  text-align:center;
  float:left;
  border-bottom:1px solid lightgray;
  text-decoration:none;
  color:black;
  background-color:#efefef;
  opacity:0.4;
  cursor:default;
}

.detailsMenu {
  padding:15px 40px 15px 40px;
  border-bottom:1px solid gray;
  margin-bottom:20px;
}

@keyframes fade-out {
  from {opacity: 1;}
  to {opacity: 0;}
}

@keyframes fade-in {
    from {opacity: 0;}
    to {opacity: 1;}
}

/*.fadeOut {
  animation-name: fade-out;
  animation-duration: 400ms;
}*/

.templateThumb {
  width:250px;
  height:250px;
  float:left;
  border:1px solid black;
  /*margin:15px;*/
  /*padding:15px;*/
  text-align:center;
  font-size:100px;
  padding-top:40px;
}

.templateThumb:hover {
  background-color:#F4FFF9;
  border:1px dashed gray;
}

.templateThumbLbl {
  font-size:16px;
}

.pageTitle {
  border-bottom:1px solid gray;
  margin-bottom:5px;
  padding:5px;
  font-weight:bold
}

.pageList {
  width:250px;
  height:250px;
  float:left;
  /*border:1px solid black;*/
  padding:5px;
  text-align:center;
  overflow:auto;
}

.pageItem {
  border:1px solid lightgray;
  padding:8px;
  display:block;
  color:black;
  text-decoration:none;
}

.pageItem:hover {
  background-color:#f2f2f2;
  border-color:gray;
}

.menu {
  background-color: white;
  display:none;
  padding:30px;
}
.userImg {
  padding:10px;
  /*width:25%;
  height:25%;*/
  width:25%;
  height:300px;
  border:1px solid lightgray;
  float:left;
  overflow:hidden;
  position:relative;
}
.userImg img {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  display:block;
  max-height:100%;
  width:auto;
  max-width:100%;
  margin:0 auto;
  background-image:url('images/transparent-bg.gif');
}
.deleteImage {
  text-align:right;
  font-weight:bold;
  color:lightgray;
  font-size:30px;
  text-align:right;
  position:absolute;
  right:5px;
  top:5px;
  z-index:2;
  cursor:pointer;
}
.deleteImage:hover {
  color:#E1341E;
}
.menuAlt {
  background-color:#f6f6f6;
  border-bottom:1px solid lightgray;
}
.menuAlt:nth-of-type(2n) {
  background-color:#e9e9e9;
}
.menuAltLeft {
  background-color:#ffffff;
  padding:10px;
  display:inline-block;
}
.menuAltLeft:nth-of-type(2n) {
  background-color:#f6f6f6;
}
.menuAltRight {
  padding:10px;
  display:inline-block;
}

.clear {
  clear:both;
}

.fadeIn {
  animation-name: fade-in;
  animation-duration: 200ms;
}

.fadeOut {
  animation-name: fade-out;
  animation-duration: 200ms;
}

.error {
  color:red;
}

.templateChoice {
  color:#333333;
  display:block;
  border-bottom:1px solid lightgray;
  border-left:0px solid white;
  text-decoration:none;
  padding:15px;
  cursor:pointer;
  user-select:none;
  text-align:left;
  font-size:16px;
  width:31.33%;
  float:left;
  margin:1%;
  transition:all 150ms;
}

.templateChoice:hover {
  color:#161616;
  border-left:10px solid #2170D6;
}
