* {
  box-sizing:border-box;
}

body {
  font-family:undefined;
  font-size:16px;
  background-color:white;
  margin:0;
}

a {
  color:inherit;
  text-decoration:none;
}

a img {
  outline:none;
}

img {
  display:block;
  line-height:0;
}

hr {
  height:1px;
  border:none;
  background-color:gray;
}

textarea {
  resize:none;
}

#item0 {
  background-color:rgb(244, 244, 244);
  background-image:linear-gradient(rgb(141, 90, 151), white);
  height:auto;
  min-height:100px;
  width:100%;
  position:relative;
  padding:60px 10px;
}

#item1 {
  height:304px;
  min-height:304px;
  width:100%;
  max-width:100%;
  display:block;
  overflow:hidden;
  margin-right:auto;
  margin-left:auto;
  border-radius:500px;
}

#item2 {
  height:auto;
  width:100%;
  margin-top:20px;
  font-family:Raleway;
  font-size:52px;
  color:black;
  line-height:1;
  text-align:center;
}

#item3 {
  background-image:linear-gradient(to right bottom, rgb(235, 200, 96), rgb(251, 242, 202));
  height:auto;
  min-height:80vh;
  width:100%;
  display:flex;
  position:relative;
  padding:15px 30px;
  margin:40px auto;
  border-radius:5px;
  flex-flow:row wrap;
  justify-content:center;
  align-items:center;
}

#item4 {
  height:auto;
  min-height:auto;
  width:100%;
  position:relative;
  padding:10px;
}

#item5 {
  height:auto;
  min-height:auto;
  width:100%;
  font-family:Raleway;
  font-weight:bold;
  font-size:52px;
  color:rgb(31, 14, 54);
  line-height:1.5;
}

#item6 {
  background-color:inherit;
  height:auto;
  width:100%;
  margin-top:25px;
  font-family:Raleway;
  font-size:20px;
  color:rgb(62, 37, 82);
  line-height:1.5;
}

#item7 {
  background-color:inherit;
  height:auto;
  width:100%;
  margin-top:25px;
  font-family:Raleway;
  font-size:28px;
  color:rgb(62, 37, 82);
  line-height:1.5;
}

#item8 {
  height:auto;
  min-height:100px;
  width:100%;
  position:relative;
  padding:10px;
}

#item9 {
  height:auto;
  min-height:auto;
  width:100%;
  max-width:100%;
  display:inline-block;
}

#item10 {
  background-color:rgb(244, 244, 244);
  height:auto;
  min-height:100px;
  width:100%;
  position:relative;
  padding:100px 15px;
}

#item11 {
  background-color:inherit;
  height:auto;
  width:100%;
  display:block;
  margin-right:auto;
  margin-left:auto;
  font-family:Raleway;
  font-size:24px;
  color:rgb(31, 14, 54);
  line-height:1.5;
  text-align:center;
}

#item12 {
  height:auto;
  min-height:auto;
  width:100%;
  max-width:100%;
  display:block;
  margin-right:auto;
  margin-left:auto;
}

#item13 {
  background-color:rgb(80, 140, 164);
  background-image:linear-gradient(to right bottom, rgb(102, 75, 114), rgb(237, 207, 240));
  height:auto;
  min-height:72px;
  width:100%;
  display:flex;
  position:relative;
  padding:10px;
  flex-flow:row wrap;
  align-items:center;
}

#item14 {
  height:auto;
  width:100%;
  font-family:Raleway;
  font-size:14px;
  color:black;
  line-height:1;
  text-align:center;
}



@media (min-width: 768px) {
  #item1 {
    width:304px;
  }
  #item4, #item8, #item3 {
    width:100%;
  }
  #item11 {
    width:615px;
  }
  #item12 {
    width:640px;
  }
}

@media (min-width: 992px) {
  #item3 {
    width:100%;
  }
  #item8, #item4 {
    width:50%;
  }
}

@media (min-width: 1200px) {
  #item3 {
    width:1300px;
  }
}

