* {
  box-sizing:border-box;
}

*[onClick] {
  cursor:pointer;
}

body {
  font-family:'Arial', sans-serif;
  background-color:white;
  margin:0;
}

a {
  color:inherit;
  text-decoration:none;
}

a img {
  outline:none;
}

img {
  display:block;
  line-height:0;
}

hr {
  height:1px;
  border:none;
  background-color:gray;
}

textarea {
  resize:none;
}

.container {
  width:100%;
  margin:0 auto;
}

#item10 {
  background-color:white;
  height:auto;
  min-height:399px;
  width:100%;
  position:relative;
  padding:10px;
}

#item11 {
  background-color:white;
  height:auto;
  min-height:100px;
  width:100%;
  display:block;
  position:relative;
  padding:10px 10px 15px;
  margin-right:auto;
  margin-left:auto;
}

#item12 {
  background-color:inherit;
  height:auto;
  width:100%;
  font-family:Raleway;
  color:black;
  font-size:28px;
  line-height:1;
}

#item13 {
  background-color:rgb(208, 203, 191);
  height:auto;
  min-height:2px;
  width:100%;
  position:relative;
  margin-top:10px;
  margin-bottom:10px;
}

#item14 {
  background-color:inherit;
  height:auto;
  width:100%;
  float:left;
  padding-right:1em;
  padding-bottom:15px;
  font-family:Arial;
  color:black;
  font-size:18px;
  line-height:1.5;
}

#item15 {
  background-color:rgb(234, 232, 227);
  height:auto;
  min-height:100px;
  width:100%;
  position:relative;
  float:right;
  padding:10px;
}

#item16 {
  height:auto;
  min-height:auto;
  width:280px;
  display:block;
  margin-right:auto;
  margin-left:auto;
}

#item17 {
  background-color:inherit;
  height:auto;
  width:100%;
  margin-top:15px;
  font-family:Arial;
  color:black;
  font-size:18px;
  line-height:1.5;
}

#header0 {
  height:auto;
  min-height:auto;
  width:100%;
  display:block;
  padding-right:20px;
  padding-left:20px;
  margin-right:auto;
  margin-left:auto;
}

#header1 {
  background-color:rgb(152, 213, 218);
  height:auto;
  min-height:5px;
  width:100%;
  display:block;
  position:relative;
  margin:15px auto;
}

#header2 {
  background-color:white;
  height:auto;
  min-height:25px;
  width:100%;
  display:block;
  position:relative;
  padding:10px;
  margin-right:auto;
  margin-left:auto;
  text-align:center;
}

#header3 {
  background-color:inherit;
  height:auto;
  width:auto;
  display:inline-block;
  padding-top:5px;
  padding-bottom:5px;
  margin-right:15px;
  margin-left:15px;
  font-family:Raleway;
  color:black;
  font-size:16px;
}

#header4 {
  background-color:inherit;
  height:auto;
  width:auto;
  display:inline-block;
  padding-top:5px;
  padding-bottom:5px;
  margin-right:15px;
  margin-left:15px;
  font-family:Raleway;
  color:black;
  font-size:16px;
}

#header5 {
  background-color:inherit;
  height:auto;
  width:auto;
  display:inline-block;
  padding-top:5px;
  padding-bottom:5px;
  margin-right:15px;
  margin-left:15px;
  font-family:Raleway;
  color:black;
  font-size:16px;
}

#header6 {
  background-color:inherit;
  height:auto;
  width:auto;
  display:inline-block;
  padding-top:5px;
  padding-bottom:5px;
  margin-right:15px;
  margin-left:15px;
  font-family:Raleway;
  color:black;
  font-size:16px;
}

#header7 {
  background-color:inherit;
  height:auto;
  width:auto;
  display:inline-block;
  padding-top:5px;
  padding-bottom:5px;
  margin-right:15px;
  margin-left:15px;
  font-family:Raleway;
  color:black;
  font-size:16px;
}

#header8 {
  background-color:inherit;
  height:auto;
  width:auto;
  display:inline-block;
  padding-top:5px;
  padding-bottom:5px;
  margin-right:15px;
  margin-left:15px;
  font-family:Raleway;
  color:black;
  font-size:16px;
}

#header {
  background-color:white;
  height:auto;
  min-height:50px;
  width:100%;
  position:relative;
  padding-top:15px;
  padding-bottom:15px;
  margin-top:25px;
}

#footer_separator {
  background-color:rgb(208, 203, 191);
  height:auto;
  min-height:50px;
  width:100%;
  position:relative;
  padding:10px;
}

#footer0 {
  background-color:inherit;
  height:auto;
  width:100%;
  font-family:Arial;
  color:black;
  font-size:14px;
  line-height:1;
  cursor:text;
}

#footer {
  background-color:white;
  height:auto;
  min-height:27px;
  width:100%;
  position:relative;
  padding:15px;
  margin-bottom:15px;
}



@media (min-width: 768px) {
  .container {
    width:750px;
  }
  #item14, #item15, #item11 {
    width:100%;
  }
  #header0 {
    width:333px;
  }
  #header1 {
    width:100%;
  }
  #header2 {
    width:97.47%;
  }
}

@media (min-width: 992px) {
  .container {
    width:970px;
  }
  #item11 {
    width:70%;
  }
  #item15, #item14 {
    width:50%;
  }
  #item16 {
    width:280px;
  }
  #header1 {
    width:80%;
  }
  #header2 {
    width:967px;
  }
}

@media (min-width: 1200px) {
  .container {
    width:1170px;
  }
}

