* {
  box-sizing:border-box;
}

*[onClick] {
  cursor:pointer;
}

body {
  font-family:Arial, Helvetica, sans-serif;
  background-color:white;
  margin:0;
}

a {
  color:inherit;
  text-decoration:none;
}

a img {
  outline:none;
}

img {
  display:block;
  line-height:0;
}

hr {
  height:1px;
  border:none;
  background-color:gray;
}

textarea {
  resize:none;
}

#item23 {
  background-color:white;
  background-image:url("images/AdobeStock_123262382-c.jpg");
  background-size:cover;
  background-repeat:no-repeat;
  background-position:center 90%;
  height:auto;
  min-height:40vh;
  width:100%;
  display:flex;
  position:relative;
  padding:25px;
  justify-content:center;
  align-items:center;
}

.fadeInBottomInactive {
  height:auto;
  width:100%;
  font-family:Lato, sans-serif;
  font-weight:300;
  font-size:40px;
  color:white;
  line-height:1;
  text-align:center;
}

#item25 {
  background-color:white;
  height:auto;
  min-height:auto;
  width:100%;
  display:flex;
  position:relative;
  padding:60px 15px;
  flex-flow:column nowrap;
  align-items:center;
}

#item26 {
  background-color:inherit;
  height:auto;
  min-height:auto;
  width:100%;
  margin-top:15px;
  font-family:Lato, sans-serif;
  font-size:21px;
  color:rgb(51, 51, 51);
  line-height:1.5;
}

#item27 {
  background-color:inherit;
  height:auto;
  min-height:100px;
  width:100%;
  display:flex;
  position:relative;
  padding:10px;
  margin-top:10px;
  margin-bottom:25px;
  flex-flow:row wrap;
  justify-content:center;
}

#item32, #item36, #item40, #item28 {
  height:auto;
  min-height:100px;
  width:auto;
  display:flex;
  position:relative;
  padding:10px;
  flex-flow:column nowrap;
  align-items:center;
}

#item33, #item37, #item41, #item29 {
  height:auto;
  min-height:auto;
  width:170px;
  max-width:100%;
  display:inline-block;
  padding:25px;
}

#item34, #item38, #item42, #item30 {
  background-color:inherit;
  height:auto;
  width:100%;
  margin-bottom:25px;
  font-family:Lato;
  font-weight:300;
  font-size:26px;
  color:black;
  line-height:1;
  text-align:center;
}

#item35, #item39, #item43, #item31 {
  height:auto;
  min-height:auto;
  width:220px;
  max-width:100%;
  display:inline-block;
}

#item45, #item44 {
  background-color:inherit;
  height:auto;
  min-height:auto;
  width:100%;
  margin-top:15px;
  margin-bottom:15px;
  font-family:Lato, sans-serif;
  font-size:16px;
  color:rgb(51, 51, 51);
  line-height:1.5;
}

#item67 {
  background-color:white;
  background-image:url("images/seamless_denim_fabric_texture%20copy.jpg");
  background-size:auto;
  background-repeat:repeat;
  background-position:center top;
  height:auto;
  min-height:auto;
  width:100%;
  position:relative;
}

#header0 {
  background-color:inherit;
  height:auto;
  min-height:auto;
  width:100%;
  display:block;
  margin-right:auto;
  margin-left:auto;
}

#header1 {
  background-color:white;
  height:auto;
  min-height:auto;
  width:100%;
  display:block;
  position:relative;
  float:left;
}

#header2 {
  height:auto;
  min-height:auto;
  width:100px;
  max-width:100%;
  display:block;
  padding-right:5px;
  padding-left:5px;
  margin-right:auto;
  margin-left:auto;
}

#desktop-nav {
  background-color:inherit;
  height:auto;
  min-height:85px;
  width:100%;
  display:flex;
  position:relative;
  float:right;
  padding:10px;
  text-align:center;
  justify-content:right;
  align-items:center;
}

.nav-btn {
  background-color:inherit;
  height:auto;
  width:auto;
  display:inline-block;
  padding:10px 25px;
  font-family:Lato;
  font-weight:300;
  font-size:14px;
  color:black;
  line-height:1;
}

#offerings-btn {
  background-color:inherit;
  height:auto;
  width:auto;
  display:inline-block;
  padding:10px 25px;
  font-family:Lato;
  font-weight:300;
  font-size:14px;
  color:black;
  line-height:1;
}

#quote-btn {
  background-color:inherit;
  height:auto;
  width:auto;
  display:inline-block;
  padding:10px 25px;
  font-family:Lato;
  font-weight:300;
  font-size:14px;
  color:black;
  line-height:1;
}

#quote-btn:hover {
  background-color:#ffd24d;
}

#offerings-dropdown {
  background-color:white;
  height:auto;
  min-height:auto;
  width:210px;
  display:flex;
  position:relative;
  padding:10px;
  border-width:1px;
  border-style:solid;
  border-color:rgb(222, 222, 222);
  transition:opacity 200ms ease 0s;
  flex-flow:column nowrap;
}

.dropdown-item {
  background-color:inherit;
  height:auto;
  width:100%;
  padding:10px 7px;
  font-family:Lato, sans-serif;
  font-weight:300;
  font-size:14px;
  color:rgb(51, 51, 51);
  line-height:1;
}

#nav-menu {
  background-color:white;
  height:auto;
  min-height:100px;
  width:100%;
  position:relative;
  padding:5px 5px 2px;
}

#menu-btn {
  background-color:inherit;
  height:auto;
  min-height:auto;
  width:70px;
  display:block;
  position:relative;
  padding:5px 15px;
  margin-right:auto;
  margin-left:auto;
  text-align:center;
}

#header15 {
  background-color:inherit;
  height:auto;
  width:auto;
  display:inline-block;
  margin-right:auto;
  margin-left:auto;
  font-family:Lato, sans-serif;
  font-size:14px;
  color:black;
  line-height:1;
}

#header16 {
  height:40px;
  min-height:40px;
  width:40px;
  max-width:100%;
  display:block;
}

#mobile-nav {
  background-color:inherit;
  height:auto;
  min-height:100px;
  width:100%;
  position:relative;
  padding:10px;
}

#header18 {
  background-color:inherit;
  height:auto;
  width:100%;
  padding:20px 10px;
  border-bottom:1px solid gray;
  font-family:Lato;
  font-weight:300;
  font-size:18px;
  color:black;
  line-height:1;
}

#header19 {
  background-color:inherit;
  height:auto;
  width:100%;
  padding:20px 10px;
  border-bottom:1px solid gray;
  font-family:Lato;
  font-weight:300;
  font-size:18px;
  color:black;
  line-height:1;
}

#header20 {
  background-color:inherit;
  height:auto;
  width:100%;
  padding:20px 10px;
  border-bottom:1px solid gray;
  font-family:Lato;
  font-weight:300;
  font-size:18px;
  color:black;
  line-height:1;
}

#header21 {
  background-color:inherit;
  height:auto;
  width:100%;
  padding:20px 10px;
  font-family:Lato;
  font-weight:300;
  font-size:18px;
  color:black;
  line-height:1;
}

#header {
  background-color:white;
  height:auto;
  min-height:auto;
  width:100%;
  display:block;
  padding-top:2px;
  padding-right:2px;
  padding-left:2px;
  margin-right:auto;
  margin-left:auto;
}

#newfooter0 {
  height:auto;
  min-height:auto;
  width:100%;
  max-width:1170px;
  display:flex;
  position:relative;
  padding:25px 5px;
  margin-right:auto;
  margin-left:auto;
  flex-wrap:wrap;
  justify-content:center;
}

#newfooter1 {
  height:auto;
  min-height:auto;
  width:100%;
  display:flex;
  position:relative;
  padding:5px 5px 10px;
  flex-flow:column nowrap;
  align-items:center;
}

#newfooter2 {
  height:auto;
  min-height:auto;
  width:165px;
  max-width:100%;
  display:block;
}

#newfooter3 {
  height:auto;
  min-height:auto;
  width:135px;
  max-width:100%;
  display:block;
  float:right;
}

#newfooter4 {
  height:auto;
  min-height:100px;
  width:100%;
  position:relative;
  padding:10px 10px 10px 25px;
  border-left:1px solid gray;
}

#newfooter5 {
  height:auto;
  width:100%;
  padding-top:10px;
  padding-bottom:10px;
  margin-bottom:5px;
  font-family:Lato;
  font-size:16px;
  color:lightgray;
  line-height:1;
}

#newfooter6 {
  background-color:inherit;
  height:auto;
  width:100%;
  padding-left:15px;
  font-family:Lato;
  font-size:14px;
  color:lightgray;
  line-height:2.5;
}

#newfooter7 {
  background-color:inherit;
  height:auto;
  width:100%;
  padding-left:30px;
  font-family:Lato;
  font-size:14px;
  color:lightgray;
  line-height:2.5;
}

#newfooter8 {
  background-color:inherit;
  height:auto;
  width:100%;
  padding-left:15px;
  font-family:Lato;
  font-size:14px;
  color:lightgray;
  line-height:2.5;
}

#newfooter9 {
  height:auto;
  min-height:100px;
  width:100%;
  position:relative;
  padding:10px 10px 10px 25px;
  border-left:1px solid gray;
}

#newfooter10 {
  height:auto;
  width:100%;
  padding-top:10px;
  padding-bottom:10px;
  margin-bottom:5px;
  font-family:Lato;
  font-size:16px;
  color:lightgray;
  line-height:1;
}

#newfooter11 {
  background-color:inherit;
  height:auto;
  width:100%;
  padding-left:15px;
  font-family:Lato;
  font-size:14px;
  color:lightgray;
  line-height:2;
}

#newfooter12 {
  height:auto;
  width:100%;
  padding-top:10px;
  padding-bottom:10px;
  margin-bottom:5px;
  font-family:Lato;
  font-size:16px;
  color:lightgray;
  line-height:1;
}

#newfooter13 {
  background-color:inherit;
  height:auto;
  width:100%;
  padding-left:15px;
  font-family:Lato;
  font-size:14px;
  color:lightgray;
  line-height:2;
}

#newfooter14 {
  height:auto;
  width:100%;
  padding-top:10px;
  padding-bottom:10px;
  margin-bottom:5px;
  font-family:Lato;
  font-size:16px;
  color:lightgray;
  line-height:1;
}

#newfooter15 {
  height:auto;
  min-height:auto;
  width:100%;
  display:flex;
  position:relative;
  padding:5px;
}

#newfooter16 {
  height:auto;
  min-height:auto;
  width:25px;
  max-width:100%;
  display:inline-block;
  margin-right:7px;
  margin-left:7px;
  opacity:0.7;
  transition:all 80ms ease 0s;
}

#newfooter16:hover {
  opacity:1;
}

#newfooter17 {
  height:auto;
  min-height:auto;
  width:25px;
  max-width:100%;
  display:inline-block;
  margin-right:7px;
  margin-left:7px;
  opacity:0.7;
  transition:all 80ms ease 0s;
}

#newfooter17:hover {
  opacity:1;
}

#newfooter18 {
  background-color:rgba(0, 0, 0, 0.25);
  height:auto;
  width:100%;
  padding:25px;
  font-family:Lato;
  font-size:13px;
  color:gray;
  line-height:1;
  text-align:center;
}

#newfooter {
  background-color:rgb(81, 82, 81);
  background-image:url("images/seamless_denim_fabric_texture copy.jpg");
  background-size:auto;
  background-repeat:repeat;
  background-position:center top;
  height:auto;
  min-height:100px;
  width:100%;
  position:relative;
  border-bottom:2px solid rgb(0, 74, 143);
}

#header {
    /*position:fixed;
    z-index:10;*/
}
#desktop-nav {
    display:none;
}
#nav-menu {
    display:block;
}
#menu-btn {
    display:block;
}
#mobile-nav {
    display:none;
}
.logo {
    width:130px;
    padding-top:10px;
}

@media(min-width:768px) {
    #desktop-nav {
        display:flex;
    }
    #nav-menu {
        display:none;
    }
    #menu-btn {
        display:none;
    }
    #mobile-nav {
        display:none;
    }
    .logo {
        width:108px;
        padding-top:0;
    }
}

@keyframes open-nav {
        from {
            max-height:0;
        }
        to {
            max-height:50vh;
        }
    }
    @keyframes close-nav {
        from {
            max-height:50vh;
        }
        to {
            max-height:0;
        }
    }
    .open-mobile-nav {
        animation-name: open-nav;
        animation-duration: 400ms;
        -webkit-animation-fill-mode: forwards;
        animation-timing-function: ease-out;
    }
    .close-mobile-nav {
        animation-name: close-nav;
        animation-duration: 400ms;
        -webkit-animation-fill-mode: forwards;
        animation-timing-function: ease-out;
    }

.nav-btn {
    border-bottom:0px solid #004a8f;
    margin-top:0;
    -webkit-transition:border-bottom 80ms;
    transition:all 80ms;
}

.nav-btn:hover {
    margin-top:2px;
    border-bottom:2px solid #004a8f;
}

#offerings-dropdown {
    position:fixed;
    left:0;
    top:0;
    opacity:0;
    display:none;
    z-index:3;
}

.dropdown-item {
    background-color:white;
    border-bottom:0px solid #004a8f;
    margin-top:0;
    -webkit-transition:border-bottom 80ms;
    transition:all 80ms;
}

.dropdown-item:hover {
    background-color:#f5f5f5;
    border-bottom:2px solid #004a8f;
}

#quote-btn {
    margin-top:2px;
    border-bottom:2px solid #004a8f;
}

@keyframes fadeInLeft {
  0% {
    opacity:0;
    transform: translateX(-25px);
  }
  100% {
    opacity:100%;
    transform: translateX(0);
  }
}

@keyframes fadeInBottom {
  0% {
    opacity:0;
    transform: translateY(30px);
  }
  100% {
    opacity:100%;
    transform: translateY(0);
  }
}

.fadeInLeftActive {
    animation: 750ms ease-out 0s 1 normal none running fadeInLeft;
}
.fadeInLeftInactive {
    opacity:0;
}

.fadeInBottomActive {
    animation: 750ms ease-out 0s 1 normal none running fadeInBottom;
}
.fadeInBottomInactive {
    opacity:0;
}

#newfooter a {
    transition:all 80ms;
}

#newfooter a:hover {
    color:#0064C2;
}





.home-title {
    font-size:30px;
}
@media(min-width:992px) {
    .home-title {
        font-size:60px;
    }
}

/*#slideshow {
    display:none;
}

@media(min-width:768px) {
    #slideshow {
        display:block;
    }
}*/

.slide {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    opacity: 0;
    z-index: 1;

    -webkit-transition: opacity 1s;
    -moz-transition: opacity 1s;
    -o-transition: opacity 1s;
    transition: opacity 1s;
}
.slide-active {
    opacity: 1;
    z-index: 2;
}

.slide:nth-of-type(1) {
    background-color:lightgray;
    background-image:url("images/AdobeStock_204566991_Preview.jpeg");
    background-size:cover;
    background-repeat:no-repeat;
    background-position:20% center;
}
.slide:nth-of-type(2) {
    background-color:lightgray;
    background-image:url("images/AdobeStock_279953994_Preview.jpeg");
    background-size:cover;
    background-repeat:no-repeat;
    background-position:20% center;
}
.slide:nth-of-type(3) {
    background-color:lightgray;
    background-image:url("images/AdobeStock_162064034_Preview.jpeg");
    background-size:cover;
    background-repeat:no-repeat;
    background-position:top center;
}




@media (min-width: 768px) {
  #item27, #item44, #item45, #item26 {
    width:100%;
  }
  #header0 {
    width:100%;
  }
  #header1 {
    width:25%;
  }
  #desktop-nav {
    width:100%;
  }
  #newfooter0 {
    width:100%;
  }
  #newfooter1 {
    width:100%;
  }
  #newfooter4 {
    width:100%;
  }
  #newfooter9 {
    width:100%;
  }
}

@media (min-width: 992px) {
  #item44, #item45, #item26 {
    width:70%;
  }
  #item27 {
    width:100%;
  }
  #item33, #item37, #item41, #item29 {
    width:170px;
  }
  #item35, #item39, #item43, #item31 {
    width:220px;
  }
  #header0 {
    width:100%;
  }
  #header1 {
    width:15%;
  }
  #header2 {
    width:100px;
  }
  #desktop-nav {
    width:55%;
  }
  #offerings-dropdown {
    width:210px;
  }
  #menu-btn {
    width:70px;
  }
  #header16 {
    width:40px;
  }
  #newfooter0 {
    width:100%;
  }
  #newfooter1 {
    width:33%;
  }
  #newfooter2 {
    width:165px;
  }
  #newfooter3 {
    width:135px;
  }
  #newfooter4 {
    width:33.33%;
  }
  #newfooter9 {
    width:33.33%;
  }
  #newfooter16 {
    width:25px;
  }
  #newfooter17 {
    width:25px;
  }
}

@media (min-width: 1200px) {
  #item27 {
    width:1200px;
  }
  #header0 {
    width:1200px;
  }
  #newfooter0 {
    width:1200px;
  }
}

