* {
  box-sizing:border-box;
}

*[onClick] {
  cursor:pointer;
}

body {
  font-family:'Arial', sans-serif;
  background-color:white;
  margin:0;
}

a {
  color:inherit;
  text-decoration:none;
}

a img {
  outline:none;
}

img {
  display:block;
  line-height:0;
}

hr {
  height:1px;
  border:none;
  background-color:gray;
}

textarea {
  resize:none;
}

#item14 {
  background-color:inherit;
  height:auto;
  min-height:5px;
}

#item15 {
  background-color:rgb(8, 157, 227);
  background-image:url("images/seattle-family-cleaning-home02.jpg");
  background-size:cover;
  background-repeat:no-repeat;
  background-position:center bottom;
  height:auto;
  min-height:auto;
  width:100%;
  position:relative;
  padding:25px 10px;
}

#item16 {
  background:rgba(8, 157, 227, 0.6);
  height:auto;
  min-height:100px;
  width:100%;
  display:block;
  position:relative;
  padding:20px 10px;
  margin-right:auto;
  margin-left:auto;
  text-align:center;
}

#item17 {
  height:auto;
  width:100%;
  padding:15px;
  margin-top:15px;
  font-family:Roboto;
  color:white;
  font-size:46px;
  line-height:1;
  text-align:center;
}

#item18 {
  height:auto;
  width:100%;
  padding:15px;
  font-family:Roboto;
  color:white;
  font-size:30px;
  line-height:1.2;
  text-align:center;
}

#item19 {
  height:auto;
  width:100%;
  padding:5px 15px;
  margin-bottom:15px;
  font-family:Roboto;
  color:white;
  font-size:20px;
  line-height:1;
  text-align:center;
}

.quote-btn {
  background-color:rgb(255, 231, 53);
  height:auto;
  width:auto;
  display:inline-block;
  padding:13px 40px;
  margin-top:15px;
  margin-bottom:25px;
  font-family:Roboto;
  color:black;
  font-size:22px;
  line-height:1;
  text-align:center;
  cursor:pointer;
}

.quote-btn:hover {
  background-color:#ffec5e;
}

#item21 {
  height:auto;
  min-height:auto;
  width:100%;
  position:relative;
  padding-right:15px;
  padding-left:15px;
}

#item25, #item22 {
  height:auto;
  min-height:auto;
  width:100%;
  position:relative;
  float:left;
  padding:5px;
}

#item26, #item29, #item23 {
  background-color:inherit;
  height:auto;
  width:100%;
  font-family:Roboto;
  color:black;
  font-size:16px;
  line-height:1;
  text-align:left;
}

#item27, #item24 {
  background-color:white;
  height:30px;
  min-height:30px;
  width:100%;
  position:relative;
  padding:3px 2px;
  margin-top:5px;
  font-family:inherit;
  font-size:18px;
  line-height:inherit;
}

#item28 {
  height:auto;
  min-height:auto;
  width:100%;
  position:relative;
  padding:5px;
}

#item30 {
  background-color:white;
  height:135px;
  min-height:135px;
  width:100%;
  position:relative;
  padding:3px 2px;
  margin-top:5px;
  font-family:inherit;
  font-size:18px;
  line-height:inherit;
}

#item31 {
  background-color:rgb(255, 231, 53);
  height:auto;
  display:block;
  padding:13px 40px;
  margin-top:15px;
  margin-right:auto;
  margin-left:auto;
  border:none black;
  font-family:Roboto, sans-serif;
  color:rgb(51, 51, 51);
  font-size:22px;
  cursor:pointer;
}

#item31:hover {
  background-color:#ffec5e;
}

#item32 {
  background-color:rgb(252, 252, 252);
  height:auto;
  min-height:100px;
  width:100%;
  position:relative;
  padding:10px;
  border-bottom:1px solid lightgray;
}

#item39, #item46, #item33 {
  background-color:inherit;
  height:auto;
  min-height:100px;
  width:100%;
  display:block;
  position:relative;
  padding:10px;
  margin-right:auto;
  margin-left:auto;
}

.h1 {
  background-color:inherit;
  height:auto;
  width:100%;
  float:left;
  padding-right:10px;
  padding-bottom:6px;
  padding-left:10px;
  margin-top:20px;
  margin-bottom:20px;
  border-bottom:1px solid rgb(224, 224, 224);
  font-family:Roboto;
  color:black;
  font-size:26px;
  line-height:1.5;
  text-align:center;
}

#item41, #item35 {
  background-color:inherit;
  height:auto;
  min-height:100px;
  width:100%;
  display:block;
  position:relative;
  padding-top:5px;
  padding-bottom:5px;
  margin-right:auto;
  margin-left:auto;
}

.p-left {
  background-color:inherit;
  height:auto;
  width:100%;
  display:block;
  float:left;
  padding:15px;
  margin-right:auto;
  margin-left:auto;
  font-family:Roboto;
  color:black;
  font-size:18px;
  line-height:1.5;
}

#item37 {
  height:auto;
  min-height:auto;
  width:100%;
  max-width:100%;
  display:block;
  float:right;
  padding:10px;
  margin-right:auto;
  margin-left:auto;
}

#item38 {
  background-color:rgb(255, 255, 255);
  height:auto;
  min-height:100px;
  width:100%;
  position:relative;
  padding:10px;
  border-bottom:1px solid lightgray;
}

#item42 {
  height:auto;
  min-height:auto;
  width:100%;
  max-width:100%;
  display:block;
  float:left;
  padding:10px;
  margin-right:auto;
  margin-left:auto;
}

.p-right {
  background-color:inherit;
  height:auto;
  width:100%;
  display:block;
  float:right;
  padding:15px;
  margin-right:auto;
  margin-left:auto;
  font-family:Roboto;
  color:black;
  font-size:18px;
  line-height:1.5;
}

#item44 {
  background-color:inherit;
  height:auto;
  width:100%;
  display:block;
  float:right;
  padding-right:15px;
  padding-left:15px;
  margin:15px auto;
  font-family:Roboto;
  color:black;
  font-size:22px;
  line-height:1.5;
  text-align:center;
}

#item45 {
  background-color:rgb(252, 252, 252);
  height:auto;
  min-height:100px;
  width:100%;
  position:relative;
  padding:10px;
}

#item58, #item68, #item48 {
  background-color:inherit;
  height:auto;
  min-height:100px;
  width:100%;
  position:relative;
  float:left;
  padding:10px;
}

#item59, #item69, #item49 {
  background-color:rgb(243, 243, 243);
  height:auto;
  min-height:100px;
  width:100%;
  position:relative;
  padding:20px;
}

#item60, #item70, #item50 {
  background-color:inherit;
  height:auto;
  width:100%;
  margin-bottom:10px;
  font-family:Roboto;
  color:black;
  font-size:15px;
  line-height:1.4;
}

#item51 {
  background-color:inherit;
  height:auto;
  width:100%;
  margin-bottom:10px;
  font-family:Roboto;
  color:black;
  font-size:14px;
  line-height:1.4;
  text-align:left;
}

#item53, #item54, #item55, #item56, #item62, #item63, #item64, #item65, #item66, #item72, #item73, #item74, #item75, #item76, #item52 {
  background-color:rgb(220, 18, 0);
  height:auto;
  width:auto;
  display:inline-block;
  padding:1px 2px;
  margin-right:1px;
  margin-left:1px;
  font-family:Arial;
  color:white;
  font-size:18px;
  line-height:1;
}

#item67, #item77, #item57 {
  background-color:inherit;
  height:auto;
  width:100%;
  font-family:Arial;
  color:black;
  font-size:14px;
  line-height:1;
}

#item71, #item61 {
  background-color:inherit;
  height:auto;
  width:100%;
  margin-bottom:10px;
  font-family:Roboto;
  color:black;
  font-size:14px;
  line-height:1.4;
}

#item78 {
  background-color:rgb(6, 111, 161);
  height:auto;
  min-height:auto;
  width:100%;
  position:relative;
  padding:25px 15px;
}

#item79 {
  background-color:inherit;
  height:auto;
  width:100%;
  font-family:Roboto;
  color:white;
  font-size:24px;
  line-height:1.5;
  text-align:center;
}

#item80 {
  background-color:rgb(8, 157, 227);
  height:auto;
  min-height:auto;
  width:100%;
  position:relative;
  padding:10px;
}

#item81 {
  background-color:inherit;
  height:auto;
  width:100%;
  display:block;
  padding:10px;
  margin-right:auto;
  margin-left:auto;
  font-family:Arial;
  color:white;
  font-size:14px;
  line-height:1.5;
}

#header0 {
  background-color:inherit;
  height:auto;
  min-height:100px;
  width:100%;
  display:block;
  position:relative;
  padding:10px;
  margin-right:auto;
  margin-left:auto;
}

#header1 {
  background-color:inherit;
  height:auto;
  min-height:100px;
  width:100%;
  position:relative;
  float:left;
  padding:10px;
}

#header2 {
  height:auto;
  min-height:auto;
  width:100%;
  max-width:275px;
  display:block;
  margin-right:auto;
  margin-left:auto;
}

#desktop-nav {
  background-color:white;
  height:auto;
  min-height:auto;
  width:100%;
  position:relative;
  float:left;
  padding:30px 10px;
  text-align:center;
}

#header4 {
  background-color:inherit;
  height:auto;
  width:auto;
  display:inline-block;
  padding:15px 20px;
  font-family:Roboto;
  color:black;
  font-size:19px;
  line-height:1;
}

#header4:hover {
  background-color:#f6f6f6;
}

#header5 {
  background-color:inherit;
  height:auto;
  width:auto;
  display:inline-block;
  padding:15px 20px;
  font-family:Roboto;
  color:black;
  font-size:19px;
  line-height:1;
}

#header5:hover {
  background-color:#f6f6f6;
}

#header6 {
  background-color:inherit;
  height:auto;
  width:auto;
  display:inline-block;
  padding:15px 20px;
  font-family:Roboto;
  color:black;
  font-size:19px;
  line-height:1;
}

#header6:hover {
  background-color:#f6f6f6;
}

#menu-btn {
  background-color:inherit;
  height:auto;
  min-height:60px;
  width:60px;
  display:block;
  position:relative;
  padding-right:10px;
  padding-bottom:10px;
  padding-left:10px;
  margin-right:auto;
  margin-bottom:10px;
  margin-left:auto;
}

#header8 {
  height:4px;
  min-height:40px;
  width:40px;
  max-width:100%;
  display:inline-block;
}

#mobile-nav {
  background-color:white;
  height:auto;
  min-height:auto;
  width:100%;
  position:relative;
  float:left;
  padding-right:10px;
  padding-left:10px;
  text-align:center;
}

#header10 {
  background-color:inherit;
  height:auto;
  width:100%;
  display:inline-block;
  padding:15px 20px;
  border-bottom:1px solid gray;
  font-family:Roboto;
  color:black;
  font-size:19px;
  line-height:1;
  text-align:left;
}

#header10:hover {
  background-color:#f6f6f6;
}

#header11 {
  background-color:inherit;
  height:auto;
  width:100%;
  display:inline-block;
  padding:15px 20px;
  border-bottom:1px solid gray;
  font-family:Roboto;
  color:black;
  font-size:19px;
  line-height:1;
  text-align:left;
}

#header11:hover {
  background-color:#f6f6f6;
}

#header12 {
  background-color:inherit;
  height:auto;
  width:100%;
  display:inline-block;
  padding:15px 20px;
  font-family:Roboto;
  color:black;
  font-size:19px;
  line-height:1;
  text-align:left;
}

#header12:hover {
  background-color:#f6f6f6;
}

#header {
  background-color:white;
  height:auto;
  min-height:100px;
  width:100%;
  position:relative;
  padding-right:10px;
  padding-left:10px;
}

    #mobile-nav {
        display: none;
    }
    #desktop-nav {
        display: none;
    }
    form {
      display:none;
    }
    @media (min-width: 768px) {
        #menu-btn {
            display: none;
        }
        #mobile-nav {
            display: none;
        }
        #desktop-nav {
            display: block;
        }
        form {
          display:block;
        }
        .quote-btn {
          display:none;
        }
        .p-left, .p-right {
          margin-top:30px;
        }
    }
    @keyframes open-nav {
        from {
            max-height:0;
        }
        to {
            max-height:400px;
        }
    }
    @keyframes close-nav {
        from {
            max-height:400px;
        }
        to {
            max-height:0;
        }
    }
    .open-mobile-nav {
        animation-name: open-nav;
        animation-duration: 400ms;
        -webkit-animation-fill-mode: forwards;
        animation-timing-function: ease-out;
    }
    .close-mobile-nav {
        animation-name: close-nav;
        animation-duration: 400ms;
        -webkit-animation-fill-mode: forwards;
        animation-timing-function: ease-out;
    }


@media (min-width: 768px) {
  #item22, #item25, #item33, #item35, #item39, #item41, #item44, #item46, #item68, #item81, #item16 {
    width:100%;
  }
  .p-left {
    width:100%;
  }
  #item42, #item48, #item58, #item37 {
    width:50%;
  }
  .p-right {
    width:100%;
  }
  #header0 {
    width:100%;
  }
  #header1 {
    width:100%;
  }
  #desktop-nav {
    width:100%;
  }
  #mobile-nav {
    width:100%;
  }
}

@media (min-width: 992px) {
  #item16 {
    width:83.33%;
  }
  #item25, #item22 {
    width:100%;
  }
  #item39, #item46, #item81, #item33 {
    width:97.5%;
  }
  #item41, #item35 {
    width:91.66%;
  }
  .p-left {
    width:60%;
  }
  #item42, #item37 {
    width:40%;
  }
  .p-right {
    width:60%;
  }
  #item44 {
    width:60%;
  }
  #item58, #item68, #item48 {
    width:33.33%;
  }
  #header0 {
    width:97.5%;
  }
  #header1 {
    width:50%;
  }
  #desktop-nav {
    width:50%;
  }
  #menu-btn {
    width:60px;
  }
  #header8 {
    width:40px;
  }
  #mobile-nav {
    width:50%;
  }
}

@media (min-width: 1200px) {
  #item16 {
    width:1000px;
  }
  #item25, #item22 {
    width:50%;
  }
  #item39, #item46, #item81, #item33 {
    width:1170px;
  }
  #item41, #item35 {
    width:1100px;
  }
  #header0 {
    width:1170px;
  }
}

