* {
  box-sizing:border-box;
}

*[onClick] {
  cursor:pointer;
}

body {
  font-family:'Arial', sans-serif;
  background-color:white;
  margin:0;
}

a {
  color:inherit;
  text-decoration:none;
}

a img {
  outline:none;
}

img {
  display:block;
  line-height:0;
}

hr {
  height:1px;
  border:none;
  background-color:gray;
}

textarea {
  resize:none;
}

#item14 {
  background-color:rgb(252, 252, 252);
  height:auto;
  min-height:100px;
  width:100%;
  position:relative;
  padding:10px;
  border-top:1px solid lightgray;
}

#item35, #item15 {
  background-color:inherit;
  height:auto;
  min-height:100px;
  width:100%;
  display:block;
  position:relative;
  padding:10px;
  margin-right:auto;
  margin-left:auto;
}

.h1 {
  background-color:inherit;
  height:auto;
  width:100%;
  float:left;
  padding-right:10px;
  padding-bottom:6px;
  padding-left:10px;
  margin-top:20px;
  margin-bottom:20px;
  border-bottom:1px solid rgb(224, 224, 224);
  font-family:Roboto;
  color:black;
  font-size:26px;
  line-height:1.5;
  text-align:center;
}

#item17 {
  background-color:inherit;
  height:auto;
  min-height:100px;
  width:100%;
  display:block;
  position:relative;
  padding-top:5px;
  padding-bottom:5px;
  margin-right:auto;
  margin-left:auto;
}

.p-left {
  background-color:inherit;
  height:auto;
  width:100%;
  display:block;
  float:left;
  padding:15px;
  margin-right:auto;
  margin-left:auto;
  font-family:Roboto;
  color:black;
  font-size:18px;
  line-height:1.5;
}

#item19 {
  height:auto;
  min-height:auto;
  width:100%;
  max-width:100%;
  display:block;
  float:right;
  margin-right:auto;
  margin-left:auto;
}

#item20 {
  background-color:rgba(8, 157, 227, 0.6);
  background-image:initial;
  height:auto;
  min-height:100px;
  width:100%;
  position:relative;
  padding-top:10px;
  padding-bottom:10px;
}

#item21 {
  background-color:white;
  height:auto;
  min-height:auto;
  width:100%;
  display:block;
  position:relative;
  padding:10px;
  margin-right:auto;
  margin-left:auto;
}

#item25, #item22 {
  height:auto;
  min-height:auto;
  width:100%;
  position:relative;
  float:left;
  padding:10px;
}

#item26, #item29, #item32, #item23 {
  background-color:inherit;
  height:auto;
  width:100%;
  margin-bottom:5px;
  font-family:Roboto;
  color:black;
  font-size:20px;
  line-height:1.5;
}

#item27, #item30, #item33, #item24 {
  background-color:inherit;
  height:auto;
  width:100%;
  padding-bottom:8px;
  border-bottom:2px solid rgb(8, 157, 227);
  font-family:Roboto;
  color:black;
  font-size:18px;
  line-height:1.5;
}

#item31, #item28 {
  background-color:inherit;
  height:auto;
  min-height:auto;
  width:100%;
  position:relative;
  float:left;
  padding:10px;
}

#item34 {
  background-color:rgb(252, 252, 252);
  height:auto;
  min-height:100px;
  width:100%;
  position:relative;
  padding:10px;
}

#item37 {
  background-color:inherit;
  height:auto;
  min-height:100px;
  width:100%;
  position:relative;
  float:left;
  padding:10px;
}

#item38 {
  height:auto;
  min-height:auto;
  width:100%;
  max-width:100%;
  display:block;
  margin-right:auto;
  margin-left:auto;
}

.p-right {
  background-color:inherit;
  height:auto;
  width:100%;
  display:block;
  float:right;
  padding:15px;
  margin-right:auto;
  margin-left:auto;
  font-family:Roboto;
  color:black;
  font-size:18px;
  line-height:1.5;
}

#item40 {
  background-color:rgb(6, 111, 161);
  height:auto;
  min-height:auto;
  width:100%;
  position:relative;
  padding:25px 15px;
}

#item41 {
  background-color:inherit;
  height:auto;
  width:100%;
  font-family:Arial;
  color:white;
  font-size:24px;
  line-height:1.5;
  text-align:center;
}

#item42 {
  background-color:rgb(8, 157, 227);
  height:auto;
  min-height:auto;
  width:100%;
  position:relative;
  padding:10px;
}

#item43 {
  background-color:inherit;
  height:auto;
  width:100%;
  display:block;
  padding:10px;
  margin-right:auto;
  margin-left:auto;
  font-family:Arial;
  color:white;
  font-size:14px;
  line-height:1.5;
}

#header0 {
  background-color:inherit;
  height:auto;
  min-height:100px;
  width:100%;
  display:block;
  position:relative;
  padding:10px;
  margin-right:auto;
  margin-left:auto;
}

#header1 {
  background-color:inherit;
  height:auto;
  min-height:100px;
  width:100%;
  position:relative;
  float:left;
  padding:10px;
}

#header2 {
  height:auto;
  min-height:auto;
  width:100%;
  max-width:275px;
  display:block;
  margin-right:auto;
  margin-left:auto;
}

#desktop-nav {
  background-color:white;
  height:auto;
  min-height:auto;
  width:100%;
  position:relative;
  float:left;
  padding:30px 10px;
  text-align:center;
}

#header4 {
  background-color:inherit;
  height:auto;
  width:auto;
  display:inline-block;
  padding:15px 20px;
  font-family:Roboto;
  color:black;
  font-size:19px;
  line-height:1;
}

#header4:hover {
  background-color:#f6f6f6;
}

#header5 {
  background-color:inherit;
  height:auto;
  width:auto;
  display:inline-block;
  padding:15px 20px;
  font-family:Roboto;
  color:black;
  font-size:19px;
  line-height:1;
}

#header5:hover {
  background-color:#f6f6f6;
}

#header6 {
  background-color:inherit;
  height:auto;
  width:auto;
  display:inline-block;
  padding:15px 20px;
  font-family:Roboto;
  color:black;
  font-size:19px;
  line-height:1;
}

#header6:hover {
  background-color:#f6f6f6;
}

#menu-btn {
  background-color:inherit;
  height:auto;
  min-height:60px;
  width:60px;
  display:block;
  position:relative;
  padding-right:10px;
  padding-bottom:10px;
  padding-left:10px;
  margin-right:auto;
  margin-bottom:10px;
  margin-left:auto;
}

#header8 {
  height:4px;
  min-height:40px;
  width:40px;
  max-width:100%;
  display:inline-block;
}

#mobile-nav {
  background-color:white;
  height:auto;
  min-height:auto;
  width:100%;
  position:relative;
  float:left;
  padding-right:10px;
  padding-left:10px;
  text-align:center;
}

#header10 {
  background-color:inherit;
  height:auto;
  width:100%;
  display:inline-block;
  padding:15px 20px;
  border-bottom:1px solid gray;
  font-family:Roboto;
  color:black;
  font-size:19px;
  line-height:1;
  text-align:left;
}

#header10:hover {
  background-color:#f6f6f6;
}

#header11 {
  background-color:inherit;
  height:auto;
  width:100%;
  display:inline-block;
  padding:15px 20px;
  border-bottom:1px solid gray;
  font-family:Roboto;
  color:black;
  font-size:19px;
  line-height:1;
  text-align:left;
}

#header11:hover {
  background-color:#f6f6f6;
}

#header12 {
  background-color:inherit;
  height:auto;
  width:100%;
  display:inline-block;
  padding:15px 20px;
  font-family:Roboto;
  color:black;
  font-size:19px;
  line-height:1;
  text-align:left;
}

#header12:hover {
  background-color:#f6f6f6;
}

#header {
  background-color:white;
  height:auto;
  min-height:100px;
  width:100%;
  position:relative;
  padding-right:10px;
  padding-left:10px;
}

    #mobile-nav {
        display: none;
    }
    #desktop-nav {
        display: none;
    }
    @media (min-width: 768px) {
        #menu-btn {
            display: none;
        }
        #mobile-nav {
            display: none;
        }
        #desktop-nav {
            display: block;
        }
        .p-left, .p-right {
          margin-top:40px;
        }
    }
    @keyframes open-nav {
        from {
            /*height: 0;
            min-height: 0;*/
            max-height:0;
        }
        to {
            /*height: auto;
            min-height: auto;*/
            max-height:50vh;
        }
    }
    @keyframes close-nav {
        from {
            /*height: auto;
            min-height: auto;*/
            max-height:50vh;
        }
        to {
            /*height: 0;
            min-height: 0;*/
            max-height:0;
        }
    }
    .open-mobile-nav {
        animation-name: open-nav;
        animation-duration: 400ms;
        -webkit-animation-fill-mode: forwards;
        animation-timing-function: ease-out;
    }
    .close-mobile-nav {
        animation-name: close-nav;
        animation-duration: 400ms;
        -webkit-animation-fill-mode: forwards;
        animation-timing-function: ease-out;
    }


@media (min-width: 768px) {
  #item17, #item21, #item35, #item37, #item38, #item43, #item15 {
    width:100%;
  }
  .p-left {
    width:100%;
  }
  #item22, #item25, #item28, #item31, #item19 {
    width:50%;
  }
  .p-right {
    width:100%;
  }
  #header0 {
    width:100%;
  }
  #header1 {
    width:100%;
  }
  #desktop-nav {
    width:100%;
  }
  #mobile-nav {
    width:100%;
  }
}

@media (min-width: 992px) {
  #item21, #item35, #item43, #item15 {
    width:97.5%;
  }
  #item17 {
    width:91.66%;
  }
  .p-left {
    width:60%;
  }
  #item19 {
    width:40%;
  }
  #item25, #item28, #item31, #item22 {
    width:25%;
  }
  #item37 {
    width:50%;
  }
  #item38 {
    width:70%;
  }
  .p-right {
    width:60%;
  }
  #header0 {
    width:97.5%;
  }
  #header1 {
    width:50%;
  }
  #desktop-nav {
    width:50%;
  }
  #menu-btn {
    width:60px;
  }
  #header8 {
    width:40px;
  }
  #mobile-nav {
    width:50%;
  }
}

@media (min-width: 1200px) {
  #item21, #item35, #item43, #item15 {
    width:1170px;
  }
  #item17 {
    width:1100px;
  }
  #header0 {
    width:1170px;
  }
}

