* {
  box-sizing:border-box;
}

*[onClick] {
  cursor:pointer;
}

body {
  font-family:Arial, Helvetica, sans-serif;
  background-color:white;
  margin:0;
}

a {
  color:inherit;
  text-decoration:none;
}

a img {
  outline:none;
}

img {
  display:block;
  line-height:0;
}

hr {
  height:1px;
  border:none;
  background-color:gray;
}

textarea {
  resize:none;
}

.container {
  width:100%;
  margin:0 auto;
}

#item0 {
  background-color:white;
  height:auto;
  min-height:100px;
  width:100%;
  position:relative;
  padding:10px;
}

#item1 {
  background-color:white;
  height:auto;
  min-height:auto;
  width:100%;
  display:table;
  position:relative;
  padding:10px;
}

#item2 {
  background-color:inherit;
  height:auto;
  width:100%;
  float:left;
  margin-top:5px;
  margin-bottom:5px;
  font-family:Arial;
  color:black;
  font-size:38px;
  line-height:1;
  text-align:center;
}

#item3 {
  background-color:white;
  height:auto;
  min-height:100px;
  width:100%;
  position:relative;
  padding:10px;
  text-align:left;
}

#item4 {
  background-color:inherit;
  height:auto;
  width:100%;
  font-family:Arial;
  color:black;
  font-size:14px;
  line-height:1;
}

#item8, #item5 {
  background-color:white;
  height:auto;
  min-height:100px;
  width:100%;
  position:relative;
  float:left;
  padding:10px;
}

.butt {
  background-color:black;
  height:auto;
  width:146.333px;
  display:block;
  padding:15px;
  margin:15px auto;
  border:1px solid grey;
  font-family:Montserrat;
  color:white;
  font-size:14px;
  line-height:1;
  text-align:center;
}

#item10, #item7 {
  background-color:inherit;
  height:auto;
  width:100%;
  font-family:Arial;
  color:white;
  font-size:14px;
  line-height:1;
}

.linklist {
  background-color:inherit;
  height:auto;
  width:auto;
  display:inline-block;
  padding:4px 10px;
  font-family:Arial;
  color:yellow;
  font-size:14px;
  line-height:1.2;
  cursor:text;
}

#footer {
  background-color:black;
  height:auto;
  min-height:auto;
  width:100%;
  position:relative;
  padding:30px 10px 10px;
  margin-top:0px;
  border-top:1px solid white;
  text-align:center;
}



@media (min-width: 768px) {
  .container {
    width:750px;
  }
  #item5, #item8, #item2 {
    width:100%;
  }
}

@media (min-width: 992px) {
  .container {
    width:970px;
  }
  #item5, #item8, #item2 {
    width:50%;
  }
  .butt {
    width:146.333px;
  }
}

@media (min-width: 1200px) {
  .container {
    width:1170px;
  }
}

