* {
  box-sizing:border-box;
}

*[onClick] {
  cursor:pointer;
}

body {
  font-family:Arial, Helvetica, sans-serif;
  background-color:black;
  margin:0;
}

a {
  color:inherit;
  text-decoration:none;
}

a img {
  outline:none;
}

img {
  display:block;
  line-height:0;
}

hr {
  height:1px;
  border:none;
  background-color:gray;
}

textarea {
  resize:none;
}

#item8, #item0 {
  background-color:black;
  height:auto;
  min-height:100px;
  width:100%;
  position:relative;
  padding:10px;
}

#item1 {
  background-color:inherit;
  height:auto;
  min-height:57px;
  width:100%;
  font-family:Arial;
  color:yellow;
  font-size:24px;
  line-height:1;
}

#item2 {
  background-color:black;
  height:auto;
  min-height:185px;
  width:100%;
  position:relative;
  padding:10px;
  text-align:center;
}

#item3 {
  background-color:inherit;
  height:auto;
  width:100%;
  font-family:Arial;
  color:yellow;
  font-size:14px;
  line-height:1;
}

#item4 {
  background-color:inherit;
  height:auto;
  min-height:20px;
  width:100%;
  margin-top:34px;
  margin-left:727px;
  font-family:Arial;
  color:yellow;
  font-size:14px;
  line-height:1;
  text-align:center;
}

#item5 {
  background-color:inherit;
  height:auto;
  width:100%;
  margin-top:31px;
  font-family:Arial;
  color:yellow;
  font-size:14px;
  line-height:1;
}

#item7, #item6 {
  background-color:inherit;
  height:auto;
  min-height:42px;
  width:100%;
  margin-top:31px;
  font-family:Arial;
  color:yellow;
  font-size:14px;
  line-height:1;
}

.linklist {
  background-color:inherit;
  height:auto;
  width:auto;
  display:inline-block;
  padding:4px 10px;
  font-family:Arial;
  color:yellow;
  font-size:14px;
  line-height:1.2;
  cursor:text;
}

#footer {
  background-color:black;
  height:auto;
  min-height:auto;
  width:100%;
  position:relative;
  padding:30px 10px 10px;
  margin-top:0px;
  border-top:1px solid white;
  text-align:center;
}



@media (min-width: 768px) {
  #item4 {
    width:25%;
  }
}

@media (min-width: 992px) {
  #item4 {
    width:11.04%;
  }
}

