* {
  box-sizing:border-box;
}

*[onClick] {
  cursor:pointer;
}

body {
  font-family:Arial, Helvetica, sans-serif;
  background-color:black;
  margin:0;
}

a {
  color:inherit;
  text-decoration:none;
}

a img {
  outline:none;
}

img {
  display:block;
  line-height:0;
}

hr {
  height:1px;
  border:none;
  background-color:gray;
}

textarea {
  resize:none;
}

#item0 {
  background-color:black;
  height:auto;
  min-height:225px;
  width:100%;
  position:relative;
  padding:10px;
}

#item1 {
  background-color:black;
  height:auto;
  width:100%;
  border-bottom:1px solid white;
  font-family:Arial;
  color:rgb(245, 250, 0);
  font-size:20px;
  line-height:1;
  text-align:left;
}

#item2 {
  background-color:inherit;
  height:auto;
  width:100%;
  font-family:Arial;
  color:rgb(245, 250, 0);
  font-size:14px;
  line-height:1;
}

.blkbutt {
  background-color:white;
  height:auto;
  min-height:10px;
  width:100%;
  display:block;
  padding:4px;
  margin-right:auto;
  margin-bottom:19px;
  margin-left:auto;
  border:4px solid yellow;
  font-family:"Arial Black";
  color:black;
  font-size:14px;
  line-height:1;
  text-align:center;
  cursor:text;
}

#item4 {
  background-color:rgb(19, 5, 0);
  height:auto;
  min-height:100px;
  width:100%;
  position:relative;
  padding:10px;
}

#item6 {
  background-color:black;
  height:auto;
  min-height:100px;
  width:100%;
  position:relative;
  padding:10px;
}

.linklist {
  background-color:inherit;
  height:auto;
  width:auto;
  display:inline-block;
  padding:4px 10px;
  font-family:Arial;
  color:yellow;
  font-size:14px;
  line-height:1.2;
  cursor:text;
}

#footer {
  background-color:black;
  height:auto;
  min-height:auto;
  width:100%;
  position:relative;
  padding:30px 10px 10px;
  margin-top:0px;
  border-top:1px solid white;
  text-align:center;
}



@media (min-width: 768px) {
  .blkbutt {
    width:25%;
  }
}

@media (min-width: 992px) {
  .blkbutt {
    width:10%;
  }
}

