* {
  box-sizing:border-box;
}

*[onClick] {
  cursor:pointer;
}

body {
  font-family:Arial, Helvetica, sans-serif;
  background-color:white;
  margin:0;
}

a {
  color:inherit;
  text-decoration:none;
}

a img {
  outline:none;
}

img {
  display:block;
  line-height:0;
}

hr {
  height:1px;
  border:none;
  background-color:gray;
}

textarea {
  resize:none;
}

.container {
  width:100%;
  margin:0 auto;
}

.h1 {
  background-color:inherit;
  height:auto;
  width:100%;
  padding:5px 5px 10px;
  margin-top:30px;
  border-bottom:1px solid lightgray;
  font-family:Arial;
  color:black;
  font-size:20px;
  line-height:1;
}

#item1 {
  background-color:white;
  height:auto;
  min-height:auto;
  width:100%;
  position:relative;
  padding:70px 10px;
}

#item2 {
  background-color:inherit;
  height:auto;
  min-height:1px;
}

.linklist {
  background-color:inherit;
  height:auto;
  width:auto;
  display:inline-block;
  padding:4px 10px;
  font-family:Arial;
  color:black;
  font-size:14px;
  line-height:1.2;
}

#footer {
  background-color:white;
  height:auto;
  min-height:auto;
  width:100%;
  position:relative;
  padding:30px 10px 10px;
  border-top:1px solid lightgray;
  text-align:center;
}



@media (min-width: 768px) {
  .container {
    width:750px;
  }
}

@media (min-width: 992px) {
  .container {
    width:970px;
  }
}

@media (min-width: 1200px) {
  .container {
    width:1170px;
  }
}

