* {
  box-sizing:border-box;
}

*[onClick] {
  cursor:pointer;
}

body {
  font-family:Arial, Helvetica, sans-serif;
  background-color:rgb(255, 255, 255);
  margin:0;
}

a {
  color:inherit;
  text-decoration:none;
}

a img {
  outline:none;
}

img {
  display:block;
  line-height:0;
}

hr {
  height:1px;
  border:none;
  background-color:gray;
}

textarea {
  resize:none;
}

#item18 {
  background-color:rgb(242, 242, 242);
  height:auto;
  min-height:301px;
  width:100%;
  position:relative;
  padding:10px;
}

#item19 {
  background-color:white;
  height:auto;
  min-height:100px;
  width:100%;
  display:block;
  position:relative;
  padding:25px 15px;
  margin-right:auto;
  margin-left:auto;
  box-shadow:rgb(161, 161, 161) 0px 2px 2px;
}

.page-title {
  background-color:inherit;
  height:auto;
  width:100%;
  padding:5px 5px 10px;
  margin-bottom:15px;
  border-bottom:3px solid rgb(114, 16, 17);
  font-family:Roboto;
  color:rgb(17, 17, 17);
  font-size:30px;
  line-height:1;
}

#item21 {
  background-color:white;
  height:auto;
  min-height:100px;
  width:100%;
  position:relative;
  float:left;
  padding:5px;
}

#item22 {
  height:auto;
  min-height:auto;
  width:auto;
  max-width:100%;
  display:inline-block;
  float:left;
}

#item23 {
  background-color:inherit;
  height:auto;
  width:100%;
  display:block;
  float:left;
  padding:10px;
  margin:5px auto;
  font-family:Roboto;
  color:black;
  font-size:22px;
  line-height:1.5;
  text-align:center;
}

#item24 {
  background-color:inherit;
  height:auto;
  width:100%;
  display:block;
  padding-top:20px;
  padding-bottom:20px;
  margin:20px auto;
  border-top:2px solid rgb(188, 188, 188);
  border-bottom:2px solid rgb(188, 188, 188);
  font-family:Roboto;
  color:black;
  font-size:18px;
  line-height:1.5;
  text-align:center;
}

#item29, #item37, #item50, #item54, #item25 {
  background-color:inherit;
  height:auto;
  min-height:100px;
  width:100%;
  position:relative;
  padding-top:10px;
  padding-bottom:10px;
}

.h2 {
  background-color:inherit;
  height:auto;
  width:100%;
  margin-top:20px;
  margin-bottom:15px;
  font-family:Roboto;
  color:rgb(17, 17, 17);
  font-size:24px;
  line-height:1;
}

#item31, #item32, #item33, #item34, #item35, #item39, #item52, #item56, #item27 {
  background-color:inherit;
  height:auto;
  width:100%;
  margin-bottom:15px;
  font-family:Arial;
  color:black;
  font-size:16px;
  line-height:1.5;
}

.hr {
  background-color:rgb(188, 188, 188);
  height:auto;
  min-height:2px;
  width:100%;
  position:relative;
  margin-top:2px;
  margin-bottom:2px;
}

#item36 {
  background-color:inherit;
  height:auto;
  width:100%;
  display:block;
  padding:10px;
  margin:15px auto;
  border-top:2px solid rgb(111, 111, 111);
  border-bottom:2px solid rgb(111, 111, 111);
  font-family:Roboto;
  color:black;
  font-size:22px;
  line-height:1.5;
  text-align:center;
}

#item41, #item42, #item43, #item44, #item45, #item46, #item47, #item48, #item40 {
  background-color:inherit;
  height:auto;
  width:auto;
  display:inline-block;
  margin-top:15px;
  margin-bottom:15px;
  font-family:Arial;
  color:black;
  font-size:16px;
  line-height:1.5;
}

#item57 {
  background-color:inherit;
  height:auto;
  width:100%;
  font-family:Arial;
  color:black;
  font-size:16px;
  line-height:1;
}

#header0 {
  height:auto;
  min-height:auto;
  width:100%;
  max-width:100%;
  display:block;
  margin-right:auto;
  margin-left:auto;
}

#header {
  background-color:white;
  height:auto;
  min-height:100px;
  width:100%;
  position:relative;
  padding:25px 25px 15px;
  border-bottom:4px solid rgb(114, 16, 17);
}

#desktop-nav {
  background-color:white;
  height:auto;
  min-height:auto;
  width:100%;
  display:block;
  position:relative;
  padding-right:10px;
  padding-left:10px;
  margin-right:auto;
  margin-left:auto;
  text-align:center;
}

.nav-btn {
  background-color:inherit;
  height:auto;
  width:auto;
  display:inline-block;
  padding:18px 22px;
  font-family:Roboto;
  color:rgb(17, 17, 17);
  font-size:19px;
  line-height:1;
  transition:all 120ms ease 0s;
}

.nav-btn:hover {
  background-color:#721011;
  color:white;
}

#menu-btn {
  background-color:white;
  height:auto;
  min-height:auto;
  width:73px;
  display:block;
  position:relative;
  padding:10px;
  text-align:center;
}

#nav-bar7 {
  background-color:inherit;
  height:auto;
  width:100%;
  margin-top:5px;
  font-family:Roboto;
  color:rgb(17, 17, 17);
  font-size:14px;
  line-height:1;
}

#nav-bar8 {
  height:40px;
  min-height:40px;
  width:40px;
  max-width:100%;
  display:inline-block;
}

#mobile-nav {
  background-color:white;
  height:auto;
  min-height:auto;
  width:100%;
  position:relative;
  padding-right:10px;
  padding-left:10px;
}

.mobile-nav-btn {
  background-color:inherit;
  height:auto;
  width:100%;
  padding:15px 10px;
  border-bottom:1px solid rgb(156, 156, 156);
  font-family:Roboto;
  color:rgb(17, 17, 17);
  font-size:18px;
  line-height:1;
}

#nav-bar14 {
  background-color:inherit;
  height:auto;
  width:100%;
  padding:15px 10px;
  font-family:Roboto;
  color:black;
  font-size:18px;
  line-height:1;
}

#nav-bar {
  background-color:white;
  height:auto;
  min-height:auto;
  width:100%;
  position:relative;
  padding-right:8px;
  padding-left:8px;
}

#footer0 {
  background-color:inherit;
  height:auto;
  width:100%;
  font-family:Roboto;
  color:white;
  font-size:16px;
  line-height:1.5;
  text-align:center;
}

#footer {
  background-color:rgb(88, 88, 88);
  height:auto;
  width:100%;
  position:relative;
  padding:20px;
}

#desktop-nav {
    display:none;
}
#menu-btn {
    display:block;
}
#mobile-nav {
    display:none;
}

@media(min-width:768px) {
    #desktop-nav {
        display:block;
    }
    #menu-btn {
        display:none;
    }
    #mobile-nav {
        display:none;
    }
}

@keyframes open-nav {
        from {
            max-height:0;
        }
        to {
            max-height:50vh;
        }
    }
    @keyframes close-nav {
        from {
            max-height:50vh;
        }
        to {
            max-height:0;
        }
    }
    .open-mobile-nav {
        animation-name: open-nav;
        animation-duration: 400ms;
        -webkit-animation-fill-mode: forwards;
        animation-timing-function: ease-out;
    }
    .close-mobile-nav {
        animation-name: close-nav;
        animation-duration: 400ms;
        -webkit-animation-fill-mode: forwards;
        animation-timing-function: ease-out;
    }






@media (min-width: 768px) {
  #item21, #item36, #item19 {
    width:100%;
  }
  #item23 {
    width:51.66%;
  }
  #header0 {
    width:390px;
  }
  #desktop-nav {
    width:100%;
  }
}

@media (min-width: 992px) {
  #item19 {
    width:97.5%;
  }
  #item21 {
    width:30%;
  }
  #item23 {
    width:40%;
  }
  #item36 {
    width:53.86%;
  }
  #desktop-nav {
    width:97.5%;
  }
  #menu-btn {
    width:73px;
  }
  #nav-bar8 {
    width:40px;
  }
}

@media (min-width: 1200px) {
  #item19 {
    width:1170px;
  }
  #desktop-nav {
    width:1170px;
  }
}

