/*

*/

* {
  box-sizing: border-box;
}
a img {
  outline:none;
}
body {
  font-family:'Roboto', sans-serif;
  font-size:14px;
  margin:0;
  /*background-image:url('https://source.unsplash.com/category/nature/1600x1600');
  background-size:cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;*/
}
h1 {
  margin:0;
  font-size:32px;
}
header {
  padding:5px;
  background-color:#358AEA;
  color:#ffffff;
  /*font-weight:100;*/
  position:fixed;
  left:0;
  top:0;
  right:0;
  z-index:1;
}
#header-cushion {
  max-width:1100px;
  width:100%;
  margin:0 auto;
}
#header-logo {
  width:auto;
  height:60px;
}
#logo-lbl {
  font-size:24px;
  display:inline-block;
}
#marginFix {
  height:50px;
}
#questions {
  text-align:left;
  display:inline-block;
  margin-top:15px;
}
.login-btn {
  float:right;
  color:inherit;
  text-decoration:none;
  background-color:#1054A3;
  display:block;
  padding:10px;
  font-size:16px;
  margin:12px 0;
}
.info-box {
  padding:30px 15px;
  font-size:24px;
  max-width:800px;
  margin:0 auto;
  /*text-align:justify;*/
  text-align:left;
}
.scroll-arrow {
  font-size:50px;
}

#home-logo {
  max-width:150px;
}
.hidden-xs {
  display:none;
}

@media (min-width: 768px) {
  #home-logo {
    max-width:300px;
  }
  .visible-xs {
    display:none;
  }
  .hidden-xs {
    display:initial;
  }
}

.hvr-fade {
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  overflow: hidden;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: color, background-color;
  transition-property: color, background-color;
  /*background-color:#A50925;
  color:inherit;*/
}
.hvr-fade:hover, .hvr-fade:focus, .hvr-fade:active {
  /*background-color:#FFE4E9;*/
  background-color:#FFFFFF;
  color:#333333;
}
section {
  height:auto;
  /*background-color:#FFFFFF;*/
  text-align:center;
  padding:2em;
  overflow:hidden;
}
section:nth-of-type(2n) {
  background-color:#F5F5F5;
}
.title-large {
  font-size:300%;
  font-weight:700;
}

#sample-sites {
  text-align:center;
}
#sample-sites a {
  color:white;
  background-color:#358AEA;
  padding:10px;
  margin:20px 0;
  display:block;
  text-decoration:none;
}
#sample-sites a:hover {
  background-color:#1054A3;
}
.icon-list-row {
  border-bottom:1px solid lightgray;
  padding:15px 10px;
}
.icon-list-row:last-child {
  border-bottom:none;
  padding:15px 10px;
}
.icon-list-row a,
.icon-list-row a:visited,
.icon-list-row a:active {
  text-decoration:none;
  color:white;
}
.list-icon {
  height:2em;
  margin-right:15px;
  vertical-align:middle;
}
footer {
  padding:15px;
  text-align:center;
  color:lightgray;
  background-color:#FFFFFF;
}
.container {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}
.container-fluid {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}
img {
  vertical-align: middle;
}
.img-responsive {
  /*display: block;*/
  max-width: 100%;
  height: auto;
}
.img-responsive-h {
  width:auto;
  max-width: 100%;
  height: 100%;
}
.no-webkit {
  -webkit-appearance: none;
}
.text-center {
  text-align:center;
}
.text-left {
  text-align:left;
}
.text-right {
  text-align:right;
}
.translate-middle {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}
.vertical-middle {
  vertical-align:middle;
}
.clear {
  clear:both;
}
.table {
  display:table;
}
.cell {
  display:table-cell;
}
@keyframes bounce {
  from {top:0px;}
  to {top:20px;}
}
.bounce {
  position:relative;
  animation-name: bounce;
  animation-duration: 700ms;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: ease;
}

.made-with {
  margin: 30px 10px;
  box-shadow:0 4px 5px gray;
  width:230px;
}

.made-with:hover {
  box-shadow:0 6px 7px gray;
}
